@media (max-width:767px) {

	.desktoponly {
		display: none;
	}

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      
    }
 
    #wrapper.active #sidebar-wrapper {
      left: 200px;
      width: 200px;
      transition: all 0.4s ease 0s;
    }

    #menu-toggle {
      display: inline-block;
    }

    .inset {
      padding: 15px;
    }

  	.jumbotron.extra{
    	padding-top: 60px;
  	}

  	ul.navbar-nav {
  		display: none;
  	}

	.maincontent {
	    margin-top: 64px;
	}	

	div.people h1, div.orders h1 {
		display: none;
	}

	.jumbotron h1 {
		display: block;
	}

	.mobile-overlay-button {
		position: absolute;
		z-index: 1000;
		top: 7px;
		right: 10px;
	}

	.mobile-overlay-button.left {
		left: 10px;
	}

	.mobile-overlay-button.left.spaced {
		left: 32px;
	}

	.mobile-overlay-button a {
		font-size: 40px;
		color: rgb(0, 0, 0);
		cursor: pointer;
	}

	.adddatemobile {
		font-size: 40px;
		color: rgb(0, 0, 0);
		cursor: pointer;
		position: absolute;
		z-index: 21000;
		top: 7px;
		right: 10px;
	}

	.mobile-overlay-button a.small {
		font-size: 25px;
		float: left;
	}

	#person .rc_instruction {
	  display: none;
	}

	ul#peeps, ul#adates, div.adates {
	    margin: 0px;
	    width: 100%;
	    clear: both;
	    height: auto;
	    padding: 10px 15px;
		min-height: 100%;
	}

	div#person, div#anAdate {
		position: absolute;
		padding-top: 50px;
		top: 0px !important;
		left: 0px;
		height: auto;
		width: 100%;
		z-index: 1005;
		border: 0px !important;
		background: #ffea00 !important;
		min-height: 100%;
	}

	div#anAdate {
		display: none;
	}

	div#anAdate.active {
		display: block;
	}

	#peeps h3.active, #adates h4.active {
	  background-color: #fff;
	  text-align: left;
	  margin: 5px 0px 5px 5px;
	  border-radius: 0px;
	}	

	#peeps h3 i, #adates h4 i {
	  color: #f00;
	  margin-top: 1px;
	  margin-left: 3px;
	}

	#peeps h3 i.delete {
	  display: block;
	  float: right;
	  padding-left: 1px;
	  opacity: 1.0;
	}

	ul#peeps div.person-item-icon {
	    border: 0px;
	    margin-left: -5px;
	}	

	.mobilePersonName {
		float: left;
		margin: 6px 10px;
		margin-top: 6px !important;
	}

	.mobilePersonName a {
		font-size: 25px;
	}

	#dateTab span.fulltitle {
		display: none;
	}

	#dateTab {
		padding: 0px 0px;
		border-bottom: 0px;
		margin-top: -3px;
	}

	#dateTab i  {
		display: block;
		font-size: 30px;
	}

	#dateTab li  {
		width: 25%;
		text-align: center;
	}

	#dateTab li a  {
		border-radius: 0px;
	}

	.row {
		padding: 5px;
	}

	.preloadwelcomemobile {
		display: block;
	}


	.preloadwelcome {
		display: none;
	}

	.preloadwelcome.notifications {
		display: block;
	}

	.separator {
		border-top: 1px #ff0;
		padding-top: 5px;
		margin-top: 5px;	
		margin-left: 10px;	
	}

	.contain_foot {
		display: none;
	}

	.oneorderview {
		position: absolute;
		top: 0px;
		left: 0px;
		height: auto;
		width: 100%;
		background: #ffea00;
		z-index: 1010;
		min-height: 100%;
	}

	.orders .prev_orders h3 {
	    margin-top: 0px;
	}

	.orders .oneorderview h3 {
		margin-top: 40px;
	}

	#alert_wrapper {
		position: fixed;
		z-index: 10000;
		width: 100%;
		height: 100%;
		top: 0px;
		background-color: rgba(200, 200, 200, 0.8) !important;	
		margin-top: 0px;	
	}

	#alert_wrapper .alert {
		padding: 10px 20px;
		text-align: center;
		border-radius: 0px !important;
		height: auto;
		width: 80%;
		margin: 80px auto 10px auto;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	}

	.close i {
		font-size: 35px;
	}

	.close {
		right: -5px;
		top: 45px;
	}

	ul.date_list li i.date-item-icon {
	    display: inline-block !important;
	    opacity: 1.0 !important;
	}

	.editable-buttons {
	  display: block !important;
	  width: 100% !important;
	  margin: 10px auto !important;
	  text-align: right !important;
	}

	.editable-buttons .btn {
		border: 1px solid #ffea00;
	}

	#simple-overlay.showme {
		position: absolute;
		z-index: 10000;
		width: 100%;
		height: 100%;
		top: 0px;
		background-color: rgba(50, 50, 50, 0.85) !important;	
		margin: 0px 0px 0px -10px;
	}

	.showhighabs {
		z-index: 11000;
		position: absolute;
	}

	.showhighrel {
		z-index: 11000;
		position: relative;
		border-bottom: 0px;
	}

	.showhighrel form {
		margin-top: 10px;
	}

	#person h4, #anAdate h4 {
	    font-weight: 300;
	    display: inline;
	}

}

@media (max-width: 900px) and (min-width: 768px) {
  	ul.navbar-nav {
		margin: 0px !important;
		margin-top: 20px !important;
		float: left !important;
		margin-left: -25px !important;
		clear: both;
	}

	.maincontent {
	    margin-top: 104px;
	}	
}

@media (min-width: 767px) {
	.mobileonly {
		display: none !important;
	}

	.mobile-overlay-button {
		display: none;
	}

	.mobilePersonName {
		display: none;
	}

	#dateTab i  {
		display: none;
	}

	.preloadwelcomemobile {
		display: none;
	}

	.editable-buttons {
	  display: none !important;
	}

	#simple-overlay {
		display: none;
	}	
}