html { 
  overflow-y:scroll; 
  padding-bottom: 150px !important;
}

body          { 
  /*background: url(../images/homepage_bg.jpg) fixed;*/
  background: none;
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

body.homepage {
/*  background: url(../images/homepage_bg.jpg) fixed;*/
  background: none;
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.body          { padding-top:60px; }
#todo-list        { margin-bottom:30px; }
#todo-form        { margin-bottom:50px; }

#wrapper {
  padding-left: 0px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -200px;
  left: 0px;
  width: 200px;
  background: #ffea00;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 1000;
  padding: 8px 10px 6px 10px;
  top: 0px;
  -webkit-box-shadow: 0px -5px 20px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -5px 20px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 20px -15px rgba(0,0,0,0.75);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 182px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1001;
  padding-top: 10px;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #000;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #555;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
  text-transform: uppercase;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.navbar-toggle {
  margin-top: 3px;
  left: -15px;
}

.inset {
  padding: 20px;
}

.container.header {
  /*background: #fff;*/
  color: #000;
  /* overflow: hidden;
  box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.10);   
  -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.10);
  -moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.10);*/
  border-radius: 0px 0px 4px 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 960px;
  margin: 0px auto;
}

.container {
  max-width: 100%;
  padding: 0px;

}

.navbar-brand {
  color: #fff !important;
  text-transform: uppercase;
  padding-left: 0px !important;
  margin-left: 0px !important;
  padding: 10px;
}

.navbar-nav > li > a {
  color: #000;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: inherit;
  background: none;
}

li.special {
  background: none;
  font-weight: bold;
}

li.special a {
  background: #000 !important;
  color: #ffea00;
}

.nav > li.special > a:focus {
  color: #ffea00;
}

.nav > li.special > a:hover {
  background-color: #ffea00 !important;
  color: #000;  
}

.footer {
  font-size: 0.9em;
  margin-top: 30px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 10px;
  border-top: 1px dotted #ddd;
  color: #444;
  max-width: 100%;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #fff;
  opacity: 0.8;
  box-shadow: cs;
  -webkit-box-shadow: 0px -5px 20px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -5px 20px -15px rgba(0,0,0,0.75);
  box-shadow: 0px -5px 20px -15px rgba(0,0,0,0.75);  
}

.row.narrow {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

p span.appname {
  /*color: #fff;
  background:#000;*/
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .jumbotron h1, .jumbotron .h1 {
    font-size: 3.5em;
    margin-bottom: 25px;
  }

  .jumbotron p {
    font-size: 1.0em;    
  }
}

ul#peeps, ul#adates, div.adates  {
  margin: 0px;
  padding: 0px; 
  width: 35%;
  float: left;
  clear:both;
  margin-top: 10px;
}

ul#notes  {
  margin: 0px;
  padding: 0px; 
  width: 100%;
  float: left;
  clear:both;
  margin-top: 10px;
}

div.adates  {
  padding: 10px; 
}

#peeps li, #adates li, #notes li {
  list-style-type: none;
  border-radius: 4px;
}

#peeps h3 span.sidenote {
  font-size: 0.65em;
  padding-left: 10px;
  color: #999;
}

#adates h4 span.sidenote {
  font-size: 0.85em;
  padding-left: 0px;
  color: #999;
}

#peeps h3, #adates h4 {
  cursor: pointer;
  margin: 5px;
  padding: 5px;  
  text-align: left;
  background: #fff;
  position: relative;
  border-radius: 4px;
}

#peeps h3:hover, #adates h4:hover {
  background-color: #dedede;
  border-radius: 4px;
}

#peeps h3.active, #adates h4.active {
  background-color: #ffea00;
  text-align: right;
  margin: 5px 0px 5px 5px;
  border-radius: 4px 0px 0px 4px;
}

#peeps h3 i, #adates h4 i {
  color: #f00;
  margin-top: 1px;
  margin-left: 3px;
}

#peeps h3 i.delete {
  display: none;
  float: left;
  padding-left: 1px;
}

#peeps h3.active:hover i.delete {
  display: block;
  opacity: 0.6;
}

#peeps h3.active:hover i:hover {
  opacity: 1.0;
}

#notes li h5 {
  margin-top: 0px;
  margin-bottom: 2px;
  color: #999;
}

#notes li p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#notes li {
  padding: 4px 6px;
  margin: 3px 0px;
}

#notes li a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

#notes li.unread {
  background: #ffea00;
}

#person p.sidenotes, #anAdate p.sidenotes {
 color: #555;
 text-align: center;
}

div#person, div#anAdate, div#person_sidenote  {
  margin: 0px;
  color: #000;
  padding: 0px;
  width: 60%;
  float: left;
  padding: 10px;
  border-radius: 4px;
  position: relative;
}

div#person.active, div#anAdate.active {
  border: 3px solid #ffea00;
  background: #fff;
}

#person h4, #anAdate h4 {
  font-weight: 300;
}

#person .date_list p, #anAdate .date_list p {
  font-weight: 300;
}

#person .date_list p span, #anAdate .date_list p span {
  font-style: italic;
}

#person ul.date_list, #anAdate ul.date_list {
  margin: 0px;
  padding: 0px;
}

#person .rc_instruction, #anAdate .rc_instruction {
  margin-top: 25px;
}

#veil {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  cursor: not-allowed;
  background: #ffea00;
}

#feedLoading {
  position: absolute;
  top: 15px;
  width: 100%;
  text-align: center;
}

.row .col-md-4 img{
  width: 100%;
  border-radius: 4px;
  border: 1px solid #000;
}

.hp_benefit {
  font-weight: bold !important;
  text-align: center;
  padding-top: 15px;
  font-size: 1.2em !important;
}

.half_width {
  width: 50%;
}

.full_width {
  width: 100%;
}

.ft_right {
  float: right;
}

.lt_right {
  float: left;
}

.txt_right {
  text-align: right;
}

.txt_left {
  text-align: left;
}

ul.date_list li {
  list-style-type: none;
  border-bottom: 1px dotted #dedede;
  position: relative;

}

ul.date_list li i.date-item-icon {
  font-size: 1.5em;
  position: absolute;
  top: 0px;
  right: 5px;
  display: none;
  opacity: 0.6;
}

ul.date_list li div.date-item-icon {
  position: absolute;
  width: 100%;
  top: 0px;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  vertical-align: top;
  background: #fff;
  padding: 15px 0px 1px 5px;
  border-radius: 4px;
  margin-top: -4px;
}

ul.date_list li div.date-item-icon i  {
  font-size: 1.5em;
  margin-top: -2px;
}

ul.date_list li i.date-item-icon.delete, ul.date_list li div.date-item-icon.delete {
  color: #ff0000;
}

ul.date_list li:hover i.date-item-icon, 
ul.date_list li:hover div.date-item-icon {
  display: block;
  padding-left: 1px;
}


ul.date_list li:hover i.date-item-icon:hover, 
ul.date_list li:hover div.date-item-icon:hover
{
  opacity: 1.0;
  cursor: pointer;
}

ul#peeps div.person-item-icon {
  position: absolute;
  width: 100%;
  top: 0px;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  vertical-align: top;
  background: #fff;
  border-radius: 4px;
  border-top: 1px solid #ffea00;
  border-bottom: 1px solid #ffea00;
  color: #f00;
  padding-top: 3px;
}

#alert_wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;   
    padding: 0;     
    margin: 0;
    z-index: 1000;
  margin-top: 64px;
}

#alert_wrapper .alert {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    margin: 0;
    text-align: center;
    border-radius: 0px !important;
}

.close {
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px 20px;
}

.animate-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show-hide.ng-hide {
  opacity:0;
}

.person-footer {
  padding: 10px;
  text-align: center;
  background: #f1f1f1;
  border-radius: 4px;
  margin: 0px;
}

.person-header {
  padding: 10px;
  text-align: left;
  background: #f1f1f1;
  border-radius: 4px;
  margin: 0px;
  overflow: auto;
  font-weight: 300;
}

.date-content {
  padding: 10px;
  margin: 0px;
  font-weight: 300;
}

.order-footer {
  border-top: 1px dotted #999;
}

.person-header i {
  float: right;
  font-size: 2.5em;
  margin: 0px;
  cursor: pointer;
  top: -17px;
  position: relative;
  margin-bottom: -15px;
}

.person-header i:hover {
  color: #FFEA00;
}

.prev_orders {
  padding: 10px;
  overflow: auto;
}

.order_thumb {
  width: 20%;
  float: left;
  clear: both;
  max-height: 110px;
  overflow: hidden;
}

.order_thumb img {
  max-width: 100%;
}

.order_details {
  width: 78%;
  float: right;
  text-align: left;
}

.prev_orders.active {
  border-left: 10px solid #ffea00;
  /* background: #f1f1f1; */
  padding-left: 20px;
  margin-left: -20px;
  border-right: 10px solid #ffea00;
  padding-right: 20px;
  margin-right: -20px;
}

h1 .btn {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}

.btn {
  border: 0px !important;
  text-transform: uppercase;
  font-weight: bold;
}


.btn-sm {
  border-radius: 4px !important;
}

.mc-field-group {
  margin: 10px 0px;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  color: #000;
  font-weight: bold;
  background: #ffea00;
  border-color: #ffea00;
}

.incidental {
  opacity: 0.7;
  margin-left: 5px;
  margin-top: 3px;
}


.nav li.open.special > a:focus, .nav li.open.special a:focus
{
  color: #ffea00;
}

.nav li.special a {
  border-radius: 4px 4px 4px 4px !important;
}

.nav li.open.special a {
  border-radius: 4px 4px 0px 0px !important;
}

.nav li.open.special > a:focus:hover
{
  color: #000;
}

.dropdown-menu {
  border-radius: 0px 4px 4px 4px !important;
  border: 1px solid #000;
  border-top: 1px solid #ffea00;
}

.nav li.open.special ul li:hover a {
  background: #ffea00!important;
  border-radius: 0px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a { 
    padding-top: 10px;  
    padding-bottom: 10px;
  }
}

.maincontent {
  margin-top: 64px;
}

.jumbotron.extra {
  width: 100%;
  color: #fff;
  text-shadow: 1px 1px 6px #000;
  margin: 0px;
  padding-top: 80px;
  min-height: 300px;
  background: url(../images/giftbanner.jpg) fixed !important;
  -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  border-radius: 0px !important;
}

.cover-container
{
  max-width: 960px;
  text-align: center;
  margin: 0px auto;
}

.marketing {
  max-width: 960px;
  margin: 0px auto;
}

.editable-controls ul.dropdown-menu {
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  border: 1px solid rgb(170, 170, 170);
}

.centered {
  text-align: center;
}

.in-input {
  position: relative;
  top: -37px;
  width: 100%;
  text-align: center;
  margin-bottom: -29px;
}

.adminmenu {
  cursor: pointer;
}

.notificationcircle {
    border-radius: 50%;
    background-color: #f00;
    color: #fff;
    padding: 0px 6px;
    margin-right: 3px;
    font-weight: bold;
}

.orders .prev_orders .title_for {
  font-weight: normal;
  font-size: 0.8em;
}

.orders .prev_orders h3 {
  margin-bottom: 2px;
  font-weight: normal;
}

.orders .prev_orders h4 {
  margin-top: 8px;
  font-weight: normal;
  color: #999;
}

.prev_orders a.btn {
  margin-top: 8px;
}

.payment-form {
  clear: both;
}

.cardexpiry, .cardcvc {
  display:inline-block;
}

.cardcvc {
  margin-left: 0px;
}

div.error input {
  border: 2px solid red !important;
}

div.error label span.error {
  color: #ff0000;
}

.paymentform {
  padding-top: 20px;
}

.paymentform label {
  margin-top: 10px;
}

.paymentform legend {
  font-size: 24px;
  border-bottom: 0px;
  margin-bottom: 0px;
}

.paymentform .paymentbuttons {
  margin-top: 20px;
}

.paymentform .col-sm-12, .paymentform .col-sm-6 {
  padding-left: 0px;
  padding-right: 0px;
}

.paymentform .col-sm-6.left  {
  padding-right: 8px;
}

.paymentform .col-sm-6.right  {
  padding-left: 8px;
}

.payment-details {
  padding-top: 20px;
  clear: both;
}

.person-preferences-top {
  padding: 15px 10px 0px 10px;
  margin: 5px 0px 0px 0px;
}

.person-preferences-middle {
  padding: 10px 10px 10px 10px;
  margin: 0px;
}

.person-preferences-bottom {
  /* border-bottom: 1px dotted #dedede;*/
  padding: 0px 10px 15px 10px;
  /*margin: 0px 0px 20px 0px;*/
}

.adminusers h3 {
  margin-top: 5px;
}

.inviteform {
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #ababab;
}

.tutorial {
    position: relative;
    background: #eaeaea none repeat scroll 0% 0%;
    color: #000;
    border: 0px solid #999 !important;
    cursor: pointer;
}

.preloadwelcome {
  clear: both;
}

.orders .prev_orders h1 {
  clear: both;
}

.person-preferences-top form, 
.person-preferences-top form div.editable-controls,
.person-preferences-top form input, 
.editable-message form, 
.editable-message form div.editable-controls,
.editable-message form input, 
.person-preferences-bottom form, 
.person-preferences-bottom form input,
.person-preferences-bottom form div.editable-controls,
{ 
  width: 100%;
}

.editable-wrap.editable-select {
  width: auto;
}