@import "../bower_components/bootstrap/less/bootstrap";
@import "flatly";
@import (less) "../bower_components/bootstrap/dist/css/bootstrap.css";
@import (less) "../bower_components/bootstrap/dist/css/bootstrap-social.css";
@import (less) "sitestyle.css";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  //padding-top: 60px;
  margin-bottom: 120px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

.navbar-brand {
  background: url(../img/npm.png) no-repeat left center;
  background-size: 40px;
  padding-left: 50px;
  margin-left: 15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Font Awesome
// -------------------------

.fa {
  margin-right: 5px;
}

// API Examples
// -------------------------

.thumb {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.thumb img {
  margin-bottom: 5px;
  margin-right: 5px;
  opacity: 0.2;
  transition: opacity 0.2s;
}

.thumb:hover img {
  opacity: 1;
  box-shadow: 0 0 3px 1px @brand-primary;
}

.facebook-caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  color: #fff;
  padding: 3px;
  bottom: 25px;
}

.api-examples {
  img {
    padding-right: 10px;
  }
}