
<div class="row narrow">
    <h1><a class="btn btn-sm btn-primary" ng-click="createInvite()" ng-hide="showinvite"><i class="fa fa-envelope"></i>Invite</a></h1>
	<div ng-show="showinvite" class="invite">
        <input type="text" name="email" class="form-control" ng-model="useremail" ng-disabled="sending" required placeholder="Enter email">
        <br />
        <button class="btn btn-primary" ng-click="sendInvite();" ng-disabled="sending">Send Invite</button>&nbsp; &nbsp;
        <button class="btn btn-primary" ng-click="createInvite();" ng-disabled="sending">Cancel</button>&nbsp; &nbsp;
        <img ng-show="sending" src="../images/ajax-loader.gif" ng-cloak/>
  	</div>		
  	<div class="col-sm-12">
		<ul id="notes">
	    	<li ng-repeat="TheUser in AdminUsers.UserList" class="adminusers">
	    		<h5>Signed Up: {{ TheUser.createdate | date:'dd MMMM yyyy' || 'empty' }}</h5>
	    		<h3>{{ TheUser.name }} / {{ TheUser.email }}</h3>
	    		<p>
	    			<b>Role:</b> {{ TheUser.role }}<br />
	    			<b>Facebook:</b> {{ TheUser.facebook || "None" }}
	    		</p>
	    	</li>    	
		</ul> 
	</div>

	<!--div class="col-sm-12">
		<ul id="notes">
	    	<li ng-repeat="TheUser in AdminUsers.UserList" class="adminusers">
	    		<h5>Signed Up: {{ TheUser.createdate | date:'dd MMMM yyyy' || 'empty' }}</h5>
	    		<h3>{{ TheUser.name }} / {{ TheUser.email }}</h3>
	    		<p>
	    			<b>Role:</b> {{ TheUser.role }}<br />
	    			<b>Facebook:</b> {{ TheUser.facebook || "None" }}
	    		</p>
	    	</li>    	
		</ul> 
	</div-->

</div>
