<div id="alert_wrapper"  ng-controller="AlertCtrl" ng-show="Alerts.alertType" class="animate-show-hide">
    <div class="alert" ng-class="Alerts.alertType"><strong>{{ Alerts.alertTitle }}</strong> {{ Alerts.alertMessage }}</div>
    <div class="close" ng-click="closeAlert();"><i class="fa fa-times-circle"></i></div>
</div>