<div class="row marketing">
  <div class="col-sm-12">
    <h1>YDI Amazon Store Admin</h1>
  </div>
  <div class="col-sm-12">
	<iframe src="https://astore.amazon.co.uk/yedoit0e-21" width="100%" height="4000" frameborder="0" scrolling="no" style="margin: 0px auto;"></iframe>
  </div>
</div>