
<div class="row narrow">
  <div class="col-sm-12">
    <h1>Report Bug</h1>
  </div>
  <div class="col-sm-12">
        <label for="subject">Title</label>
        <input type="text" name="subject" class="form-control" ng-model="bug.title" required placeholder="Enter a short subject">      
        <br />
        <label for="subject">Page / URL</label>
        <input type="text" name="page" class="form-control" ng-model="bug.page" required placeholder="Enter the page on which you discovered the bug">      
        <br />
        <label for="subject">Description</label>
        <textarea name="content" class="form-control" ng-model="bug.content" required placeholder="Enter as much detail about the bug as you can"></textarea>  
        <br />
        <label for="subject">Your Email (In case we need more info!)</label>
        <input type="text" name="email" class="form-control" ng-model="bug.email" ng-disabled="true" required placeholder="Enter your email">
        <br />
        <button class="btn btn-primary" ng-click="sendBugReport();" ng-disabled="sending">Send Bug Report</button>&nbsp; &nbsp;
        <img ng-show="sending" src="../images/ajax-loader.gif" ng-cloak/>
  </div>
</div>
