
<div class="row marketing">
    <h1 class="desktoponly"><a class="btn btn-sm btn-primary" ng-click="refreshAdates()"><i class="fa fa-refresh"></i>Reload</a></h1>

	<ul class="nav nav-tabs" role="tablist" id="dateTab">
	  <li role="presentation" class="active"><a ng-click="clearAdate($event, true);" data-target="#comingdates" aria-controls="comingdates" role="tab" data-toggle="tab"><i class="fa fa-lightbulb-o"></i><span class="fulltitle">Dates to Suggested</span></a></li>
	  <li role="presentation"><a ng-click="clearAdate($event, false);" data-target="#suggestions" aria-controls="suggestions" role="tab" data-toggle="tab"><i class="fa fa-check-square-o"></i><span class="fulltitle">Suggestions Awaiting Approval</span></a></li>
	  <li role="presentation"><a ng-click="clearAdate($event, false);" data-target="#approvals" aria-controls="approvals" role="tab" data-toggle="tab"><i class="fa fa-credit-card"></i><span class="fulltitle">Approvals Awaiting Purchase</span></a></li> 
	  <li class="mobileonly"><a class="btn btn-sm btn-primary" ng-click="refreshAdates()"><i class="fa fa-refresh"></i></a></li>
	</ul>
	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane active" id="comingdates">
      	<div class="adates" ng-show="Adate.AdatesNoAction.length <= 0">
      		No coming dates found.
      	</div>
		<ul id="adates" ng-show="Adate.AdatesNoAction.length > 0"> 
			<li ng-repeat="TheDate in Adate.AdatesNoAction">
				<h4 ng-class="{ active: activeItem == TheDate._id }" ng-click="loadAdate($event, TheDate._id);"><span class="sidenote">{{ TheDate.date | date:'dd MMMM yyyy'  || 'empty'  }}</span><br />{{ TheDate.name }}</h4> 
			</li>
		</ul>
	  </div>
	  <div role="tabpanel" class="tab-pane" id="suggestions">
      	<div class="adates" ng-show="Adate.AdatesSuggested.length <= 0">
      		No dates with suggested orders found.
      	</div>
		<ul id="adates" ng-show="Adate.AdatesSuggested.length > 0"> 
			<li ng-repeat="TheDate in Adate.AdatesSuggested">
				<h4 ng-class="{ active: activeItem == TheDate._id }" ng-click="loadAdate($event, TheDate._id);"><span class="sidenote">{{ TheDate.date | date:'dd MMMM yyyy'  || 'empty'  }}</span><br />{{ TheDate.name }}</h4> 
			</li>
		</ul>
	  </div>
	  <div role="tabpanel" class="tab-pane" id="approvals">
      	<div class="adates" ng-show="Adate.AdatesApproved.length <= 0">
      		No dates with approved orders found.
      	</div>
		<ul id="adates" ng-show="Adate.AdatesApproved.length > 0"> 
			<li ng-repeat="TheDate in Adate.AdatesApproved">
				<h4 ng-class="{ active: activeItem == TheDate._id }" ng-click="loadAdate($event, TheDate._id);"><span class="sidenote">{{ TheDate.date | date:'dd MMMM yyyy'  || 'empty'  }}</span><br />{{ TheDate.name }}</h4> 
			</li>
		</ul>
	  </div>
	</div>

	<script>
	  $(function () {
	    $('#dateTab a:first').tab('show')
	  })
	</script>

	<div id="anAdate" ng-class="{ active: Adate.TheAdate }" ng-hide="!Adate.Adates" >
		<span class="mobile-overlay-button left"><a class="small" ng-click="clearAdate($event, false);"><i class="fa fa-arrow-left"></i></a><h3 class="mobilePersonName">{{ Adate.TheAdate.name }}</h3></span> 
	    <div ng-show="Adate.TheAdate" ng-cloak>
	      <p class="date-content">
	      	<b>Date:</b> {{ Adate.TheAdate.date | date:'dd MMMM yyyy'  || 'empty' }}<br />
	      	<b>Addressee:</b> {{ Adate.TheAdate._person.name }}, {{ Adate.TheAdate._person.address }}.<br />
	      	<b>Message for card:</b> {{ Adate.TheAdate.message }}<br />
	      	<b>Maximum spend:</b> £{{ Adate.TheAdate.budget }}<br />
	      	<b>Preferences:</b> {{ Adate.TheAdate._person.preferences }}<br />
	      	<b>Sender:</b> {{ Adate.TheAdate._creator.name }} ({{ Adate.TheAdate._creator.email }}) 
	      </p>
	      <div class="date-content order-footer" ng-hide="!Order.OrdersFavourited" ng-cloak>
	      	<b>Favourited Options:</b>
	      	<div class="prev_orders" ng-show="Order.OrdersFavourited.length <= 0">
	      		No favourited options found.
	      	</div>
			<div ng-repeat="TheOrder in Order.OrdersFavourited" class="prev_orders" ng-show="Order.OrdersFavourited.length > 0" ng-class="{ active: TheOrder._adate._id == Adate.TheAdate._id }">
				<div class="order_thumb">
					<img src="{{ TheOrder.details.tinyImage }}" />
				</div>
				<div class="order_details"> 
					{{ TheOrder.details.title }}<br />					
					Price: {{ TheOrder.price }}<br />
					<a href="{{ TheOrder.details.pageUrl | unescape }}" target="_amazon" class="btn btn-sm btn-primary">View</a>&nbsp;&nbsp;
					<a class="btn btn-sm btn-success" ng-click="updateOrderStatus($event, TheOrder._id, 1);">Suggest</a>&nbsp;&nbsp;
					<a class="btn btn-sm btn-warning" ng-click="deleteOrder($event, Order.Orders.indexOf(TheOrder), TheOrder._id);">Remove</a>										
				</div>
			</div>
	      </div>
	      <p ng-show="showsearch" class="date-content"> 
      		<input  ng-show="showsearch" ng-keyup="amazonsearch($event);" type="text" name="search" class="form-control" ng-model="searchterm" required placeholder="Search amazon for suggestion" ng-disabled="Styling.isAmazonLoading()">
	      	<div class="in-input" ng-show="Styling.isAmazonLoading()"><img src="../images/ajax-loader.gif" /></div>    		
	      </p>
			<div class="prev_orders" ng-show="AmazonAPI.SearchItems.length <= 0">
				No items found on Amazon, please search again!
			</div>
			<div ng-repeat="SearchItem in AmazonAPI.SearchItems" class="prev_orders" ng-show="AmazonAPI.SearchItems.length > 0">
				<div class="order_thumb">
					<img src="{{ SearchItem.SmallImage[0].URL[0] }}" />
				</div>
				<div class="order_details">
					{{ SearchItem.ItemAttributes[0].Title[0] }}<br />					
					List Price: {{ SearchItem.ItemAttributes[0].ListPrice[0].FormattedPrice[0] }}<br />
					Amazon Price: {{ SearchItem.Offers[0].Offer[0].OfferListing[0].Price[0].FormattedPrice[0] }}<br />
					<a href="{{ SearchItem.DetailPageURL[0] }}" target="_amazon" class="btn btn-sm btn-primary">View</a>&nbsp;&nbsp;
					<a class="btn btn-sm btn-success" ng-click="saveOrder($event, AmazonAPI.SearchItems.indexOf(SearchItem), 1);">Suggest</a>&nbsp;&nbsp;
					<a class="btn btn-sm btn-primary" ng-click="saveOrder($event, AmazonAPI.SearchItems.indexOf(SearchItem), 9);">Favourite</a>
				</div>
			</div>
	      <p class="date-content order-footer centered" ng-show="!Order.Orders" ng-cloak>
	      	<img src="../images/ajax-loader.gif" />
	      </p>
	      <div class="date-content order-footer" ng-hide="!Order.OrdersSuggested" ng-cloak>
	      	<b>Suggested Orders:</b>
	      	<div class="prev_orders" ng-show="Order.OrdersSuggested.length <= 0">
	      		No suggested orders found.
	      	</div>
			<div ng-repeat="TheOrder in Order.OrdersSuggested" class="prev_orders" ng-show="Order.OrdersSuggested.length > 0" ng-class="{ active: TheOrder._adate._id == Adate.TheAdate._id }">
				<div class="order_thumb">
					<img src="{{ TheOrder.details.tinyImage }}" />
				</div>
				<div class="order_details">
					{{ TheOrder.details.title }}<br />					
					Price: {{ TheOrder.price }}<br />
					<a href="{{ TheOrder.details.pageUrl | unescape }}" target="_amazon" class="btn btn-sm btn-primary">View</a>&nbsp;&nbsp;
					<a class="btn btn-sm btn-primary" ng-click="remindOrder($event, TheOrder._id);">Remind</a>
				</div>
			</div>
	      </div>
	      <div class="date-content" ng-hide="!Order.OrdersApproved" ng-cloak>
	      	<b>Approved Suggestions:</b>
	      	<div class="prev_orders" ng-show="Order.OrdersApproved.length <= 0">
	      		No approved suggestions found.
	      	</div>
			<div ng-repeat="TheOrder in Order.OrdersApproved" class="prev_orders" ng-show="Order.OrdersApproved.length > 0" ng-class="{ active: TheOrder._adate._id == Adate.TheAdate._id }">
				<div class="order_thumb">
					<img src="{{ TheOrder.details.tinyImage }}" />
				</div>
				<div class="order_details">
					{{ TheOrder.details.title }} {{ TheOrder.details.itemId }}<br />					
					Price: {{ TheOrder.price }}<br />
					<a href="{{ TheOrder.details.pageUrl | unescape }}" target="_amazon" class="btn btn-sm btn-primary">View</a>&nbsp;&nbsp;
					<a class="btn btn-sm btn-success" ng-click="updateOrderStatus($event, TheOrder._id, 3);">Purchased</a>&nbsp;&nbsp;
				</div>
			</div>
	      </div>
	      <div class="date-content" ng-hide="!Order.OrdersOrdered" ng-cloak>
	      	<b>Purchased Orders:</b>
	      	<div class="prev_orders" ng-show="Order.OrdersOrdered.length <= 0">
	      		No purchased orders found.
	      	</div>
			<div ng-repeat="TheOrder in Order.OrdersOrdered" class="prev_orders" ng-show="Order.OrdersOrdered.length > 0" ng-class="{ active: TheOrder._adate._id == Adate.TheAdate._id }">
				<div class="order_thumb">
					<img src="{{ TheOrder.details.tinyImage }}" />
				</div>
				<div class="order_details">
					{{ TheOrder.details.title }}<br />					
					Price: {{ TheOrder.price }}<br />
					<a href="{{ TheOrder.details.pageUrl | unescape  }}" target="_amazon" class="btn btn-sm btn-primary">View</a>
				</div>
			</div>
	      </div>
	      <div class="date-content " ng-hide="!Order.OrdersRejected" ng-cloak>
	      	<b>Rejected Suggestions:</b>
	      	<div class="prev_orders" ng-show="Order.OrdersRejected.length <= 0">
	      		No rejected suggestions found.
	      	</div>
			<div ng-repeat="TheOrder in Order.OrdersRejected" class="prev_orders" ng-show="Order.OrdersRejected.length > 0" ng-class="{ active: TheOrder._adate._id == Adate.TheAdate._id }">
				<div class="order_thumb">
					<img src="{{ TheOrder.details.tinyImage }}" />
				</div>
				<div class="order_details">
					{{ TheOrder.details.title }}<br />					
					Price: {{ TheOrder.price }}<br />
					<a href="{{ TheOrder.details.pageUrl | unescape  }}" target="_amazon" class="btn btn-sm btn-primary">View</a>
				</div>
			</div>
	      </div>

	    </div>
	    <div ng-show="!Adate.TheAdate" ng-cloak class="rc_instruction desktoponly">
	      <p class="sidenotes"><i class="fa fa-hand-o-left"></i> Click on one of your date over there</p>
	      <p class="sidenotes"><i class="fa fa-hand-o-right"></i> The details will appear over here</p>
	    </div>
	    <div id="veil" ng-show="Styling.isLoading()"></div>
	    <div id="feedLoading" ng-show="Styling.isLoading()"><img src="../images/ajax-loader.gif" /><br /><br />Loading...</div>
	</div>
</div>
