<!-- Facebook Conversion Code for YDI Registrations -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6030591958537', {'value':'0.01','currency':'GBP'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6030591958537&amp;cd[value]=0.01&amp;cd[currency]=GBP&amp;noscript=1" /></noscript>

<div class="row marketing">
	<div class="">
	  <h1>Thank You!</h1>
	  <p class="lead">
	    You Rock!  Thanks for signing up to YEAH, DONE IT! <br />
	    It's great to have you on board.  We are letting new people in every week, so We will send you out an invite soon.
	  </p>
	  <p><a class="btn btn-lg btn-primary" ng-href="/">Take me home!</a></p>
	</div>
</div>

