
<div class="row narrow">
  <div class="col-sm-12">
    <h1>Contact Us</h1>
  </div>
  <div class="col-sm-12">
        <label for="subject">Subject</label>
        <input type="text" name="subject" class="form-control" ng-model="bug.title" required placeholder="Enter a short subject">      
        <br />
        <label for="subject">Message</label>
        <textarea name="content" class="form-control" ng-model="bug.content" required placeholder="Enter a message..."></textarea>  
        <br />
        <label for="subject">Your Email</label>
        <input type="text" name="email" class="form-control" ng-model="bug.email" required placeholder="Enter your email">
        <br />
        <button class="btn btn-primary" ng-click="sendBugReport();" ng-disabled="sending">Send Message</button>&nbsp; &nbsp;
        <img ng-show="sending" src="../images/ajax-loader.gif" ng-cloak/>
  </div>
</div>
