<div class="row marketing">
	<div class="">
	  <h1>Quick hide!</h1>
	  <p class="lead">
	    You better not get found looking at this page or you'll get into trouble. <br />
	    Whatever you came for is not here! Now quick scram before someone sees you!
	  </p>
	  <p>
	  	<img src="/images/emptybox.jpg" height="180" />
	  </p>
	  <p><a class="btn btn-lg btn-primary" ng-href="/">Get me outa here!</a></p>
	</div>
</div>

