<div class="jumbotron extra">
    <div class="cover-container">      
      <div class="inner cover">
        <h1 class="cover-heading">It's quite possible that this app will actually save your life!</h1>
      </div>
    </div>
</div>
<div class="jumbotron">
  <div class="row marketing">
    <div class="col-md-4">
      <p class="hp_benefit">Ever forgetten to buy a present or missed an important date? </p>
      <img src="../../../images/forgot_present.jpg" />
    </div>
    <div class="col-md-4">
      <p class="hp_benefit">Ever run out of time to send your mum a gift on her birthday?  </p>
      <img src="../../../images/forgot_mother.jpg" />
    </div>
    <div class="col-md-4">
      <p class="hp_benefit">Ever seen your wife angry because you totally forgot your anniversary?</p>
      <img src="../../../images/forgot_wife.jpg" />
    </div>
  </div>
  <div class="row marketing">
    <div class="col-md-12">

      <h2>Help is at hand!</h2>
      <p>
        With <span class="appname">Yeah,&nbsp;Done&nbsp;It!</span> it'll never happen again and you don't have to lift a finger.  We'll find and send the perfect present for you, right on time, with just one click from you.
      </p>
      <p>
        Be a super hero and remember every birthday, every important date and never be late with a card or present again.  At <span class="appname">Yeah,&nbsp;Done&nbsp;It!</span> even when you forgot we never will and your friends and loved ones will think you're an absolute legend! 
      </p>
      <h2>The Best Part? It's Free!</h2>
      <p>
      We don't charge you for the service. You just pay what you'd normally pay for the item on Amazon!  What's not to love?
      </p>
      <p>So next time someone asks if you've sent that present, you can just say <span class="appname">Yeah,&nbsp;Done&nbsp;It!</span></p> 
      <p><a class="btn btn-lg btn-primary" ng-href="/signup">Yeah,&nbsp;Do&nbsp;It!</a></p>
    </div>
  </div>
</div>
