
<div  class="row marketing people" 
      ng-intro-options="IntroOptions" 
      ng-intro-method="CallMe" 
      ng-intro-onbeforechange="BeforeChangeEvent" 
      ng-intro-onafterchange="AfterChangeEvent" 
      ng-intro-onchange="ChangeEvent"
      ng-intro-oncomplete="CompletedEvent" 
      ng-intro-onexit="ExitEvent"
      ng-intro-autostart="ShouldAutoStart"> 
  <span class="mobile-overlay-button"><a class="" ng-click="createPerson($event)"><i class="fa fa-plus-circle"></i></a></span>
  <h1><a class="btn btn-sm btn-primary step1 addperson" ng-click="createPerson($event)"><i class="fa fa-plus-circle"></i>Add Person</a></h1>
  <h1><a class="btn btn-sm btn-primary tutorial" ng-hide="tutorialon" ><i class="fa fa-support"></i>Tutorial</a></h1>
	<ul id="peeps" class="step5">
		<li ng-repeat="ThePerson in Person.Persons">
			<h3 ng-class="{ active: activeItem == ThePerson._id, firstperson: $first }" ng-click="loadPerson($event, ThePerson._id);"><i class="fa fa-times-circle delete" ng-click="confirmDeletePerson($event, Person.Persons.indexOf(ThePerson))"></i><span ng-show="activeItem != ThePerson._id">{{ ThePerson.name }}</span><a href="#" editable-text="ThePerson.name" buttons="yes" onbeforesave="beforePersonSave()" onaftersave ="updatePersonName(ThePerson.name)"  ng-show="activeItem == ThePerson._id">{{ ThePerson.name }}</a><!--<span class="sidenote">({{ ThePerson.noofdates }} date<span ng-show="ThePerson.noofdates > 1">s</span>)</span>-->
 
          <div class="person-item-icon delete" ng-show="ThePerson.confirmDelete">Are you sure?&nbsp;  
              <i class="fa fa-times date-item-icon-indiv canceldelete" name="Cancel Delete" title="Cancel Delete" ng-click="cancelDeletePerson($event, Person.Persons.indexOf(ThePerson));" ></i>
              <i class="fa fa-check date-item-icon-indiv confirmdelete" name="Delete Date" title="Delete Date" ng-click="deletePerson($event, Person.Persons.indexOf(ThePerson));" ></i>
          </div>
      </h3> 
		</li>
	</ul> 
	<div id="person" ng-class="{ active: Adate.Adates }" class="step2" ng-hide="!Adate.Adates" ng-swipe-right="clearPerson($event);">   
    <div id="simple-overlay" ng-class="{ showme: editing }"></div> 
    <span class="mobile-overlay-button left"><a class="small" ng-click="clearPerson($event)"><i class="fa fa-arrow-left"></i></a></span>
    <span class="mobile-overlay-button left spaced" ng-class="{ showhighabs: editingname }" ><h3 class="mobilePersonName" ><a href="#" onshow="showedit('name');" oncancel="showedit('done');" editable-text="Person.ThePerson.name" buttons="yes" onbeforesave="beforePersonSave()" onaftersave ="updatePersonName(Person.ThePerson.name)"  ng-show="activeItem == Person.ThePerson._id">{{ Person.ThePerson.name }}</a></h3></span>     
    <div ng-hide="!Adate.Adates">
      <p class="person-header desktoponly"><b>Add new date</b> for this person by clicking the plus sign on the right<br/><b>To Edit Items:</b> Click on bold text. Change item. Hit enter to save!<i class="fa fa-plus-circle     fa-2x" name="Add Date" title="Add Date" ng-click="addDate()" ></i></p> 
      <i class="fa fa-plus-circle fa-2x adddatemobile mobileonly" name="Add Date" title="Add Date" ng-click="addDate()" ></i>   

      <p class="person-preferences-top step4" ng-class="{ showhighrel: editinggenderage }" >
          Type of person: 
          <a href="#" onshow="showedit('gender');" oncancel="showedit('done');" editable-select="Person.ThePerson.gender" e-ng-options="gender.value as gender.text for gender in genders" e-ng-change="$form.$submit()" e-style="width: 100%" buttons="no" onbeforesave="beforePersonSave()" onaftersave ="afterPersonSave()">{{ showGender() }}</a>
          aged 
          <a href="#" onshow="showedit('age');" oncancel="showedit('done');" editable-select="Person.ThePerson.age" e-ng-options="age.value as age.text for age in ages" e-ng-change="$form.$submit()"  e-style="width: 100%" buttons="no" onbeforesave="beforePersonSave()" onaftersave ="afterPersonSave()">{{ showAge() }}</a>
          years old
          </p>        
      <p class="person-preferences-middle step4" ng-class="{ showhighrel: editingpreferences }" >
          {{ Person.ThePerson.name }} likes: <a href="#" onshow="showedit('likes');" oncancel="showedit('done');" editable-text="Person.ThePerson.preferences" e-style="width: 100%" buttons="yes" e-style="width: 100%" onbeforesave="beforePersonSave()" onaftersave ="afterPersonSave()">{{ Person.ThePerson.preferences }}</a>
      </p>
      <p class="person-preferences-bottom step4" ng-class="{ showhighrel: editingaddress }" >
          Gifts for {{ Person.ThePerson.name }} will be sent to <a href="#" onshow="showedit('address');" oncancel="showedit('done');" editable-text="Person.ThePerson.address" e-style="width: 100%" buttons="yes" onbeforesave="beforePersonSave()" onaftersave ="afterPersonSave()">{{ Person.ThePerson.address }}</a></p>      
      <span class="step3"></span>
      <ul class="date_list"> 
        <li ng-repeat="date in Adate.Adates | orderBy:'date'">
          <h4 class="txt_left" ng-class="{ showhighrel: editeddate == date._id && editeddateitem == 'name' }"><a href="#" onshow="showedit(date._id, 'name');" oncancel="showedit('done');" editable-text="date.name" buttons="yes" onbeforesave="beforeDateSave(Adate.Adates.indexOf(date))" onaftersave ="afterDateSave(Adate.Adates.indexOf(date))">{{ date.name }}</a></h4> <h4 class="txt_left">on<h4 class="txt_left"> <h4 class="txt_left" ng-class="{ showhighrel: editeddate == date._id && editeddateitem == 'date' }"><a href="#" onshow="showedit(date._id, 'date');openPicker();" oncancel="showedit('done');" editable-bsdate="date.date" buttons="yes" e-datepicker-popup="dd MMMM yyyy" onhide="closePicker();" e-is-open="picker.opened" onbeforesave="beforeDateSave(Adate.Adates.indexOf(date))" onaftersave="afterDateSave(Adate.Adates.indexOf(date))">{{ date.date | date:'dd MMMM yyyy'  || 'empty' }}</a></h4>
          <p class="txt_left editable-message" ng-class="{ showhighrel: editeddate == date._id && editeddateitem == 'message' }">Message will read <a href="#" onshow="showedit(date._id, 'message');" oncancel="showedit('done');"  editable-text="date.message" buttons="yes" onbeforesave="beforeDateSave(Adate.Adates.indexOf(date))" onaftersave ="afterDateSave(Adate.Adates.indexOf(date))" e-style="width: 100%" >{{ date.message || "no message" }}</a>.</p>
          <p class="txt_left" ng-class="{ showhighrel: editeddate == date._id && editeddateitem == 'budget' }">Budget for this date <a href="#" onshow="showedit(date._id, 'budget');" oncancel="showedit('done');" editable-text="date.budget" buttons="yes" onbeforesave="beforeDateSave(Adate.Adates.indexOf(date))" onaftersave ="afterDateSave(Adate.Adates.indexOf(date))">£{{ date.budget }}</a>.</p>
          <i class="fa fa-times-circle date-item-icon delete" name="Delete Date" title="Delete Date" ng-show="!date.confirmDelete" ng-click="confirmDeleteDate(Adate.Adates.indexOf(date));" ></i>
          <div class="date-item-icon delete" ng-show="date.confirmDelete">Are you sure?&nbsp;
              <i class="fa fa-times date-item-icon-indiv canceldelete" name="Cancel Delete" title="Cancel Delete" ng-click="cancelDeleteDate(Adate.Adates.indexOf(date));" ></i>
              <i class="fa fa-check date-item-icon-indiv confirmdelete" name="Delete Date" title="Delete Date" ng-click="deleteDate(date._id, Adate.Adates.indexOf(date));" ></i>
          </div>
        </li>
      </ul>
        <div class="date-content order-footer" ng-cloak>
          <b>Suggested Orders:</b>
          <div class="prev_orders" ng-show="Order.OrdersSuggested.length <= 0">
            No suggested orders found.
          </div>
          <div ng-repeat="TheOrder in Order.OrdersSuggested" class="prev_orders" ng-show="Order.OrdersSuggested.length > 0" ng-class="{ active: TheOrder._adate._id == Adate.TheAdate._id }">
            <div class="order_thumb">
              <img src="{{ TheOrder.details.tinyImage }}" />
            </div>
            <div class="order_details">
              {{ TheOrder.details.title }}<br />          
              Price: {{ TheOrder.price }}<br />
              <a href="{{ TheOrder.details.pageUrl | unescape }}" target="_amazon" class="btn btn-sm btn-primary">View on Amazon</a>&nbsp;&nbsp;
              <a class="btn btn-sm btn-primary btn-success" ng-click="updateOrderStatus($event, TheOrder._id, 2);">Accept</a>&nbsp;&nbsp;
              <a class="btn btn-sm btn-primary btn-danger" ng-click="updateOrderStatus($event, TheOrder._id, 0);">Reject</a>&nbsp;&nbsp;
            </div>
          </div>
        </div>
        <div class="date-content" ng-cloak>
          <b>Approved Suggestions:</b>
          <div class="prev_orders" ng-show="Order.OrdersApproved.length <= 0">
            No approved suggestions found.
          </div>
          <div ng-repeat="TheOrder in Order.OrdersApproved" class="prev_orders" ng-show="Order.OrdersApproved.length > 0" ng-class="{ active: TheOrder._adate._id == Adate.TheAdate._id }">
            <div class="order_thumb">
              <img src="{{ TheOrder.details.tinyImage }}" />
            </div>
            <div class="order_details">
              {{ TheOrder.details.title }} {{ TheOrder.details.itemId }}<br />          
              Price: {{ TheOrder.price }}<br />
              <a href="{{ TheOrder.details.pageUrl | unescape }}" target="_amazon" class="btn btn-sm btn-primary">View on Amazon</a>&nbsp;&nbsp;
            </div>
          </div>
        </div>
        <div class="date-content" ng-cloak>
          <b>Purchased Orders:</b>
          <div class="prev_orders" ng-show="Order.OrdersOrdered.length <= 0">
            No purchased orders found.
          </div>
          <div ng-repeat="TheOrder in Order.OrdersOrdered" class="prev_orders" ng-show="Order.OrdersOrdered.length > 0" ng-class="{ active: TheOrder._adate._id == Adate.TheAdate._id }">
            <div class="order_thumb">
              <img src="{{ TheOrder.details.tinyImage }}" />
            </div>
            <div class="order_details">
              {{ TheOrder.details.title }}<br />          
              Price: {{ TheOrder.price }}<br />
              <a href="{{ TheOrder.details.pageUrl | unescape  }}" target="_amazon" class="btn btn-sm btn-primary">View on Amazon</a>
            </div>
          </div>
        </div>
        <div class="date-content" ng-cloak>
          <b>Rejected Suggestions:</b>
          <div class="prev_orders" ng-show="Order.OrdersRejected.length <= 0">
            No rejected suggestions found.
          </div>
          <div ng-repeat="TheOrder in Order.OrdersRejected" class="prev_orders" ng-show="Order.OrdersRejected.length > 0" ng-class="{ active: TheOrder._adate._id == Adate.TheAdate._id }">
            <div class="order_thumb">
              <img src="{{ TheOrder.details.tinyImage }}" />
            </div>
            <div class="order_details">
              {{ TheOrder.details.title }}<br />          
              Price: {{ TheOrder.price }}<br />
              <a href="{{ TheOrder.details.pageUrl | unescape  }}" target="_amazon" class="btn btn-sm btn-primary">View on Amazon</a>
            </div>
          </div>
        </div>

    </div>
    <div id="veil" ng-show="Styling.isLoading()"></div>
    <div id="feedLoading" ng-show="Styling.isLoading()"><img src="../images/yeahdoneit_loader.gif" /><br /><br />Loading...</div>

	</div>
  <div id="person_sidenote" ng-hide="Person.ThePerson || Person.Persons.length <= 0" class="rc_instruction desktoponly">
      <p class="sidenotes"><i class="fa fa-hand-o-left"></i> Click on one of your people over there</p>
      <p class="sidenotes"><i class="fa fa-hand-o-right"></i> Their details will appear over here</p>
  </div>
  <div ng-show="Person.Persons <= 0" class="preloadwelcomemobile row narrow">
      <p>
        Get started by tell us all about the people you send regular gifts to.  Just click on the plus ....
      </p>
      <p>
        <ol>
          <li>Add your friends using the '+' button at the top.</li>      
          <li>A new person will be added with default data for you to edit.</li>      
          <li>Click on the new person to load their details.</li>      
          <li>Click on '+' at the top right of the person details to add a date.</li>      
          <li>Click on the bold info (including the person name) to edit details.</li>
          <li><b>HIT RETURN</b> once you've edited a field to save it.</li>      
          <li>That's it.</li>      
        </ol>      
      </p>
  </div>
  <div ng-show="Person.Persons <= 0 && !tutorialon" class="preloadwelcome row narrow">
      <h2>Welcome to YEAH, DONE IT!</h2> 
      <p>
        Right let's get started!  Find out how things work by clicking on the <a class="btn btn-sm btn-primary tutorial" ng-hide="tutorialon" ng-click="startTutorial()"><i class="fa fa-support"></i>TUTORIAL</a> button above, or just click on <a class="btn btn-sm btn-primary step1" ng-click="createPerson($event)"><i class="fa fa-plus-circle"></i>ADD PERSON</a> and figure it out the fun way.
      </p>
      <p></p>
      <p>
        <ol>
          <li>Add your friends using the 'ADD PERSON' button at the top.</li>      
          <li>A new person will be added with default data for you to edit.</li>      
          <li>Click on the new person to load their details.</li>      
          <li>Click on '+' at the top right of the person details to add a date.</li>      
          <li>Click on the bold info (including the person name) to edit details.</li>
          <li><b>HIT RETURN</b> once you've edited a field to save it.</li>      
          <li>That's it.</li>      
          <li>We'll keep track of your dates and suggest appropriate gifts</li>
          <li>You approve the gift with a click.</li>
          <li>We'll then order and send it!</li>
          <li>When anyone asks you just say YEAH, DONE IT!</li>
        </ol>      
      </p>
  </div>

</div> 