<div id="wrapper" ng-controller="NavbarCtrl" ng-class="{ active: Styling.showMenu    }">

	<!-- Sidebar Menu -->
        <div id="sidebar-wrapper" >
            <ul class="sidebar-nav">
			    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}"  ng-hide="{{item.hide}}"  >
			        <a ng-href="{{item.link}}" ng-click="toggleMenus();"><i class="fa {{ item.faicon }}"></i>{{item.title}}</a>
			    </li>
			    <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login" ng-click="toggleMenus();"><i class="fa fa-sign-in"></i>Login</a></li>
			    <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup" ng-click="toggleMenus();"><i class="fa fa-power-off"></i>Sign up</a></li>
			    <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout();toggleMenus();"><i class="fa fa-sign-out"></i>Logout</a></li>
                <li class="separator"></li>

                <li ng-repeat="subitem in adminSubmenu" ng-show="showAdminMenu && subitem.link != '/amazon-store'" ng-class="{active: isActive(item.link)}">
                    <a ng-href="{{subitem.link}}" ng-click="changeSubMenuShow(false);toggleMenus();"><i class="fa {{ subitem.faicon }}"></i>{{subitem.title}}</a>
                </li>

                <li class="separator"></li>
                <li><a href="/contact" ng-click="toggleMenus();"><i class="fa fa-envelope"></i>Contact</a></li>
                <li><a href="/terms" ng-click="toggleMenus();"><i class="fa fa-bars"></i>Ts &amp; Cs</a></li>
                <li><a href="/privacy" ng-click="toggleMenus();"><i class="fa fa-lock"></i>Privacy</a></li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">

            <!-- Header for full screen -->
            <div class="container header">

                <!--<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>-->
                <div class="navbar-header">
                  <button id="menu-toggle" type="button" class="navbar-toggle collapsed" ng-click="toggleMenus();">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"><img src="../images/logo.png" /></a>
                </div>

                <div class="navbar-collapse collapse" style="height: 1px;">
                  <ul class="nav navbar-nav">
    				    <li ng-repeat="item in menu" ng-hide="{{item.hide}}" ng-class="{active: isActive(item.link)}">                            
    				        <a ng-href="{{item.link}}"><i ng-show="Notifications.currentUnread <= 0 || item.link != '/notifications'" class="fa {{ item.faicon }}"></i><span ng-show="Notifications.currentUnread > 0 && item.link == '/notifications'" class="notificationcircle">{{ Notifications.currentUnread }}</span>{{item.title}} 
                            </a>                                
    				    </li>
                        <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login"><i class="fa fa-sign-in"></i>Sign In</a></li>
    				    <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}" class="special"><a href="/signup"><i class="fa fa-power-off"></i>Sign up</a></li>
    				    <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>

                        <li ng-repeat="item in adminMenu" ng-show="showAdminMenu" class="adminmenu special withdropdown btn-group" ng-class='{open: showAdminSubmenu}'>
                            <a ng-href="{{item.link}}" ng-click="changeSubMenuShow()"><i class="fa {{ item.faicon }}"></i>{{item.title}}<i class="fa fa-caret-down incidental"></i></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="subitem in adminSubmenu" ng-hide="{{item.hide}}" ng-class="{active: isActive(item.link)}">
                                    <a ng-href="{{subitem.link}}" ng-click="changeSubMenuShow(false)"><i class="fa {{ subitem.faicon }}"></i>{{subitem.title}}</a>
                                </li>
                            </ul>                                
                        </li>                            
                  </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
</div>
