<div class="row narrow">
    <h1><a class="btn btn-sm btn-primary" ng-click="allRead()" ng-show="Notifications.Notifications.currentUnread > 0"><i class="fa fa-check-circle"></i>Mark All Read</a></h1>
  	<div class="col-sm-12">
		<ul id="notes">
	    	<li ng-repeat="TheNotification in Notifications.Notifications" ng-class="{ unread: !TheNotification.read }">
    			<a ng-click="viewOrder(TheNotification._order._id, TheNotification._id);">
		    		<h5>{{ TheNotification.date | date:'dd MMMM yyyy' || 'empty' }}</h5>
		    		<p><b>{{ TheNotification.subject}}</b> - {{ TheNotification.content }}</p>
		    		<p><b>{{ TheNotification._order._adate.name }}</b> gift for {{ TheNotification._order._person.name }} on {{ TheNotification._order._adate.date | date:'dd MMMM yyyy' || 'empty'  }} to {{ TheNotification._order._person.address }}
	    		</a>	    		
	    	</li>    	
		</ul> 
	</div>
    <div ng-show="Notifications.Notifications <= 0" class="preloadwelcome row narrow notifications">
      <h2>No Unread Notifications</h2> 
      <p>
        You currently do not have any notifications.  Order notifications will appear here when you have items to action.
      </p>
  </div>
</div>

