<div class="row narrow orders" ng-class="{ active: Order.ActiveOrder }" >
	<div ng-show="Order.ActiveOrder" class="prev_orders oneorderview" ng-swipe-right="showAll($event)">
  		<span class="mobile-overlay-button left"><a class="small" ng-click="showAll($event)"><i class="fa fa-arrow-left"></i></a>
			<h3 class="mobilePersonName">
				<span ng-show="Todo == 'accept'">Accepting</span><span ng-show="Todo == 'reject'">Rejected</span>
			</h3>
  		</span> 
  		<h1><a class="btn btn-sm btn-primary step1" ng-click="showAll($event)"><i class="fa fa-tasks"></i>Show All Orders</a></h1>
	    <h1><span ng-show="Todo == 'accept'">Accepting</span><span ng-show="Todo == 'reject'">Rejected</span></h1>
		<h3>{{ Order.ActiveOrder._adate.name }} <span class="title_for">for</span> {{ Order.ActiveOrder._person.name }}</h3>
		<h4>{{ Order.ActiveOrder.datedate | date:'dd MMMM yyyy' || 'empty'  }}
			<span ng-show="Order.ActiveOrder.status == 1">- (Suggested)</span>
			<span ng-show="Order.ActiveOrder.status == 2">- (Approved &amp; Paid)</span>
			<span ng-show="Order.ActiveOrder.status == 3">- (Purchased)</span>
			<span ng-show="Order.ActiveOrder.status == 0">- (Rejected)</span>
		</h4>		
        <div class="order_thumb">
          <img src="{{ Order.ActiveOrder.details.tinyImage }}" /> 
        </div>
        <div class="order_details">
          {{ Order.ActiveOrder.details.title }}<br />          
          Price: {{ Order.ActiveOrder.price }}<br />
          <a href="{{ Order.ActiveOrder.details.pageUrl | unescape }}" target="_amazon" class="btn btn-sm btn-primary">Details</a>&nbsp;&nbsp;
          <a ng-hide="Todo || Order.ActiveOrder.status != 1" class="btn btn-sm btn-success" ng-click="acceptClick(Order.ActiveOrder._id);">Accept</a>&nbsp;&nbsp;
          <a ng-hide="Todo || Order.ActiveOrder.status != 1" class="btn btn-sm btn-danger" ng-click="rejectClick(Order.ActiveOrder._id);">Reject</a>&nbsp;&nbsp;
          <a ng-show="Todo == 'reject' && Order.ActiveOrder.status == 0" ng-click="undoRejection(Order.ActiveOrder._id);" class="btn btn-sm btn-warning" ng-click="updateOrderStatus($event, Order.ActiveOrder._id, 0);">Undo</a>&nbsp;&nbsp;
        </div>
        <div ng-show="Order.ActiveOrder.status == 3 || Order.ActiveOrder.status == 2" class="payment-details">
        	<b>Purchase Date:</b> {{ Order.ActiveOrder.payment.date | date: ' dd MMMM yyyy' || 'empty' }}<br />
        	<b>Card No:</b> {{ Order.ActiveOrder.payment.card }}<br />
        	<b>Order Ref:</b> {{ Order.ActiveOrder.payment.pid }}        	
        </div>
        <div ng-show="Todo == 'accept'" class="payment-form">
			<form name="checkoutForm" stripe-form="stripeCallback" ng-submit="payProcess();" data-abide="" class="ng-scope ng-pristine ng-valid paymentform">

				<!-- ngIf: processing -->

				<fieldset>
					<legend>Payment</legend> 
					<div>
						<div class="col-sm-12 columns" ng-class="{error: checkoutForm.number.$invalid}"> 
							<label for="number">Card Information <span ng-show="checkoutForm.number.$invalid" class="error">INVALID!</span></label>
							<input ng-disabled="paymentProcessing" ng-model="number" name="number" payments-format="card" payments-validate="card" placeholder="E.G. 4242 4242 4242 4242" type="text" class="ng-pristine ng-valid ng-valid-card ng-touched form-control btn-sm">
						</div>
						<div class="col-sm-6 left columns cardexpiry" ng-class="{error: checkoutForm.expiry.$invalid}">
							<label for="expiry">Expiry (E.G. 11/20) <span ng-show="checkoutForm.expiry.$invalid"  class="error">INVALID!</span></label>
							<input ng-disabled="paymentProcessing" ng-model="expiry" name="expiry" payments-validate="expiry" placeholder="E.G. 11 / 25" type="text" class="ng-pristine ng-untouched ng-valid ng-valid-expiry form-control btn-sm">
						</div>
						<div class="col-sm-6 right columns cardcvc" ng-class="{error: checkoutForm.cvc.$invalid}">
							<label for="cvc">CVC <span ng-show="checkoutForm.cvc.$invalid" class="error">INVALID!</span></label>
							<input ng-disabled="paymentProcessing" ng-model="cvc" name="cvc" payments-format="cvc" payments-validate="cvc" placeholder="E.G. 147" type="text" class="ng-pristine ng-untouched ng-valid ng-valid-cvc form-control btn-sm">
						</div>
					</div>
				</fieldset>

				<!-- ngIf: stripeError -->

				<!-- ngIf: stripeToken -->

				<div class="clearfix">
					<div class="right col-sm-12 paymentbuttons">
						<button type="submit" class="btn btn-sm btn-success" ng-disabled="checkoutForm.$invalid || paymentProcessing">Approve &amp; Pay</button>
						<button class="cancel btn btn-sm btn-danger" ng-click="cancelAccept();" ng-disabled="paymentProcessing" >Cancel</button>&nbsp; &nbsp;
						<img ng-show="paymentProcessing" src="../images/ajax-loader.gif" ng-cloak/>
					</div>
				</div>

			</form>
			<!--p style="margin: 20px 0px; padding: 10px 10px; border-top:1px solid #999"></p>
			<p>
				PLEASE NOTE: This payment system is currently in test mode.  Use the following cards to simulate test purchases.  NO CHARGES WILL BE MADE to any cards.
			</p>
			<p>
				Use the card numbers with any expiry date in the future and any three digit cvc security code.
			</p>
			<table>
			  <thead>
			    <tr><th>Number</th>
			    <th>Card type</th>
			  </tr></thead>
			  <tbody>
			    <tr><td class="number"><code>4242<span></span>4242<span></span>4242<span></span>4242</code></td><td>Visa</td></tr>
			    <tr><td class="number"><code>4012<span></span>8888<span></span>8888<span></span>1881</code></td><td>Visa</td></tr>
			    <tr><td class="number"><code>4000<span></span>0566<span></span>5566<span></span>5556</code></td><td>Visa (debit)</td></tr>
			    <tr><td class="number"><code>5555<span></span>5555<span></span>5555<span></span>4444</code></td><td>MasterCard</td></tr>
			    <tr><td class="number"><code>5200<span></span>8282<span></span>8282<span></span>8210</code></td><td>MasterCard (debit)</td></tr>
			    <tr><td class="number"><code>5105<span></span>1051<span></span>0510<span></span>5100</code></td><td>MasterCard (prepaid)</td></tr>
			    <tr><td class="number"><code>3782<span></span>822463<span></span>10005</code></td><td>American Express</td></tr>
			    <tr><td class="number"><code>3714<span></span>496353<span></span>98431</code></td><td>American Express</td></tr>
			    <tr><td class="number"><code>6011<span></span>1111<span></span>1111<span></span>1117</code></td><td>Discover</td></tr>
			    <tr><td class="number"><code>6011<span></span>0009<span></span>9013<span></span>9424</code></td><td>Discover</td></tr>
			    <tr><td class="number"><code>3056<span></span>9309<span></span>0259<span></span>04</code></td><td>Diners Club</td></tr>
			    <tr><td class="number"><code>3852<span></span>0000<span></span>0232<span></span>37</code></td><td>Diners Club</td></tr>
			    <tr><td class="number"><code>3530<span></span>1113<span></span>3330<span></span>0000</code></td><td>JCB</td></tr>
			    <tr><td class="number"><code>3566<span></span>0020<span></span>2036<span></span>0505</code></td><td>JCB</td></tr>    
			    <tr><td class="number"><code>4000<span></span>0000<span></span>0000<span></span>0002</code></td><td>Charge will be declined with a <code>card_declined</code> code.</td></tr>
			    <tr><td class="number"><code>4100<span></span>0000<span></span>0000<span></span>0019</code></td><td>Charge will be declined with a <code>card_declined</code> code and a <code>fraudulent</code> reason.</td></tr>
			    <tr><td class="number"><code>4000<span></span>0000<span></span>0000<span></span>0127</code></td><td>Charge will be declined with an <code>incorrect_cvc</code> code.</td></tr>
			    <tr><td class="number"><code>4000<span></span>0000<span></span>0000<span></span>0069</code></td><td>Charge will be declined with an <code>expired_card</code> code.</td></tr>
			    <tr><td class="number"><code>4000<span></span>0000<span></span>0000<span></span>0119</code></td><td>Charge will be declined with a <code>processing_error</code> code.</td></tr>
			  </tbody>
			</table-->	
        </div>
	</div>
	<div ng-hide="Order.ActiveOrder" class="allorders">
	    <h1></h1>
		<ul class="nav nav-tabs" role="tablist" id="dateTab">
		  <li role="presentation" class="active"><a data-target="#suggestions" aria-controls="suggestions" role="tab" data-toggle="tab"><i class="fa fa-lightbulb-o"></i><span class="fulltitle">{{ Order.OrdersSuggested.length }} Suggestions </span></a></li>
		  <li role="presentation"><a data-target="#approvals" aria-controls="approvals" role="tab" data-toggle="tab"><i class="fa fa-check-square-o"></i><span class="fulltitle">{{ Order.OrdersApproved.length }} Approved</span></a></li>
		  <li role="presentation"><a data-target="#purchases" aria-controls="purchases" role="tab" data-toggle="tab"><i class="fa fa-credit-card"></i><span class="fulltitle">{{ Order.OrdersOrdered.length }} Purchased</span></a></li>
		  <li role="presentation"><a data-target="#rejections" aria-controls="rejections" role="tab" data-toggle="tab"><i class="fa fa-ban"></i><span class="fulltitle">{{ Order.OrdersRejected.length }} Rejected</span></a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="suggestions">
				<div class="date-content order-footer" ng-cloak>
			      <div class="prev_orders" ng-show="Order.OrdersSuggested.length <= 0">
			        No suggested orders found.
			      </div>
			      <div ng-repeat="TheOrder in Order.OrdersSuggested" class="prev_orders" ng-show="Order.OrdersSuggested.length > 0" ng-class="{ active: TheOrder._adate._id == Adate.TheAdate._id }">

		    		<h3>{{ TheOrder._adate.name }} <span class="title_for">for</span> {{ TheOrder._person.name }}</h3>
		    		<h4>{{ TheOrder.datedate | date:'dd MMMM yyyy' || 'empty'  }}</h4>

			        <div class="order_thumb">
			          <img src="{{ TheOrder.details.tinyImage }}" /> 
			        </div>
			        <div class="order_details">
			          {{ TheOrder.details.title }}<br />          
			          Price: {{ TheOrder.price }}<br />
			          <a href="{{ TheOrder.details.pageUrl | unescape }}" target="_amazon" class="btn btn-sm btn-primary">Details</a>&nbsp;&nbsp;
			          <a class="btn btn-sm btn-success" ng-click="acceptClick(TheOrder._id);">Accept</a>&nbsp;&nbsp;
			          <a class="btn btn-sm btn-danger" ng-click="rejectClick(TheOrder._id);">Reject</a>&nbsp;&nbsp; 
			        </div>
			      </div>
			    </div>
			</div>
			<div role="tabpanel" class="tab-pane" id="approvals">
			    <div class="date-content" ng-cloak>
			      <div class="prev_orders" ng-show="Order.OrdersApproved.length <= 0">
			        No approved suggestions found.
			      </div>
			      <div ng-repeat="TheOrder in Order.OrdersApproved" class="prev_orders" ng-show="Order.OrdersApproved.length > 0" ng-class="{ active: TheOrder._adate._id == Adate.TheAdate._id }">

		    		<h3>{{ TheOrder._adate.name }} <span class="title_for">for</span> {{ TheOrder._person.name }}</h3>
		    		<h4>{{ TheOrder.datedate | date:'dd MMMM yyyy' || 'empty'  }}</h4>

			        <div class="order_thumb">
			          <img src="{{ TheOrder.details.tinyImage }}" />
			        </div>
			        <div class="order_details">
			          {{ TheOrder.details.title }} {{ TheOrder.details.itemId }}<br />          
			          Price: {{ TheOrder.price }}<br />
			          <a href="{{ TheOrder.details.pageUrl | unescape }}" target="_amazon" class="btn btn-sm btn-primary">Details</a>&nbsp;&nbsp;
			        </div>
			        <div ng-show="TheOrder.status == 2" class="payment-details">
			        	<b>Purchase Date:</b> {{ TheOrder.payment.date | date: ' dd MMMM yyyy' || 'empty' }}<br />
			        	<b>Card No:</b> {{ TheOrder.payment.card }}<br />
			        	<b>Order Ref:</b> {{ TheOrder.payment.pid }}        	
			        </div>	
			      </div>
			    </div>
			</div>
			<div role="tabpanel" class="tab-pane" id="purchases">
			    <div class="date-content" ng-cloak>
			      <div class="prev_orders" ng-show="Order.OrdersOrdered.length <= 0">
			        No purchased orders found.
			      </div>
			      <div ng-repeat="TheOrder in Order.OrdersOrdered" class="prev_orders" ng-show="Order.OrdersOrdered.length > 0" ng-class="{ active: TheOrder._adate._id == Adate.TheAdate._id }">

		    		<h3>{{ TheOrder._adate.name }} <span class="title_for">for</span> {{ TheOrder._person.name }}</h3>
		    		<h4>{{ TheOrder.datedate | date:'dd MMMM yyyy' || 'empty'  }}</h4>

			        <div class="order_thumb">
			          <img src="{{ TheOrder.details.tinyImage }}" />
			        </div>
			        <div class="order_details">
			          {{ TheOrder.details.title }}<br />          
			          Price: {{ TheOrder.price }}<br />
			          <a href="{{ TheOrder.details.pageUrl | unescape  }}" target="_amazon" class="btn btn-sm btn-primary">Details</a>			          
			        </div>
			        <div ng-show="TheOrder.status == 3" class="payment-details">
			        	<b>Purchase Date:</b> {{ TheOrder.payment.date | date: ' dd MMMM yyyy' || 'empty' }}<br />
			        	<b>Card No:</b> {{ TheOrder.payment.card }}<br />
			        	<b>Order Ref:</b> {{ TheOrder.payment.pid }}        	
			        </div>			        
			      </div>
			    </div>
			</div>
			<div role="tabpanel" class="tab-pane" id="rejections">
			    <div class="date-content" ng-cloak>
			      <div class="prev_orders" ng-show="Order.OrdersRejected.length <= 0">
			        No rejected suggestions found.
			      </div>
			      <div ng-repeat="TheOrder in Order.OrdersRejected" class="prev_orders" ng-show="Order.OrdersRejected.length > 0" ng-class="{ active: TheOrder._adate._id == Adate.TheAdate._id }">

		    		<h3>{{ TheOrder._adate.name }} <span class="title_for">for</span> {{ TheOrder._person.name }}</h3>
		    		<h4>{{ TheOrder.datedate | date:'dd MMMM yyyy' || 'empty'  }}</h4>

			        <div class="order_thumb">
			          <img src="{{ TheOrder.details.tinyImage }}" />
			        </div>
			        <div class="order_details">
			          {{ TheOrder.details.title }}<br />          
			          Price: {{ TheOrder.price }}<br />
			          <a href="{{ TheOrder.details.pageUrl | unescape  }}" target="_amazon" class="btn btn-sm btn-primary">Details</a>
			        </div>
			      </div>
			    </div>
			</div>
		</div>
	</div>
</div>

