<section id="main">
    <div id="content" class="row marketing">

        <div class="docBody" unselectable="on">
            <h2 unselectable="on">Privacy Policy</h2>
            <p unselectable="on">This privacy policy applies between you, the User of this Website and Cogiva Limited, the owner and provider of this Website. Cogiva Limited takes the privacy of your information very seriously. This privacy policy applies to our use of any and all Data collected by us or provided by you in relation to your use of the Website. <b unselectable="on">Please read this privacy policy carefully</b>.
            </p>
            <h2 unselectable="on">Definitions and interpretation</h2>
            <ol class="clauses firstList" unselectable="on">
                <li unselectable="on">In this privacy policy, the following definitions are used:
                    <br>
                    <table class="definitions" unselectable="on">
                        <tbody unselectable="on">
                            <tr unselectable="on">
                                <td unselectable="on"><b unselectable="on">Data</b>
                                </td>
                                <td unselectable="on">collectively all information that you submit to Cogiva Limited via the Website. This definition incorporates, where applicable, the definitions provided in the Data Protection Act 1998;</td>
                            </tr>
                            <tr unselectable="on">
                                <td unselectable="on"><b unselectable="on">Cookies</b>
                                </td>
                                <td unselectable="on">a small text file placed on your computer by this Website when you visit certain parts of the Website and/or when you use certain features of the Website. Details of the cookies used by this Website are set out in the clause below (<b unselectable="on">Cookies</b>);</td>
                            </tr>
                            <tr unselectable="on">
                                <td unselectable="on"><b unselectable="on">Cogiva Limited,<br>
                <br unselectable="on">we</b> or <b unselectable="on">us</b>
                                </td>
                                <td unselectable="on">
                                    <p> Cogiva Limited, a company incorporated in England and Wales with registered number 06626518 whose registered office is at 8 Oxford Street, Whitley Bay, Tyne and Wear, NE26 1AB;
                                    </p>
                                </td>
                            </tr>
                            <tr unselectable="on">
                                <td unselectable="on"><b unselectable="on">UK and EU Cookie Law</b>
                                </td>
                                <td unselectable="on">the Privacy and Electronic Communications (EC Directive) Regulations 2003 as amended by the Privacy and Electronic Communications (EC Directive) (Amendment) Regulations 2011;</td>
                            </tr>
                            <tr unselectable="on">
                                <td unselectable="on"><b unselectable="on">User</b> or <b unselectable="on">you</b>
                                </td>
                                <td unselectable="on">any third party that accesses the Website and is not either (i) employed by Cogiva Limited and acting in the course of their employment or (ii) engaged as a consultant or otherwise providing services to Cogiva Limited and accessing the Website in connection with the provision of such services; and</td>
                            </tr>
                            <tr unselectable="on">
                                <td unselectable="on"><b unselectable="on">Website</b>
                                </td>
                                <td unselectable="on">the website that you are currently using, http://www.cowonamission.com, and any sub-domains of this site unless expressly excluded by their own terms and conditions.</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li unselectable="on">In this privacy policy, unless the context requires a different interpretation:
                    <ol unselectable="on">
                        <li unselectable="on">the singular includes the plural and vice versa;</li>
                        <li unselectable="on">references to sub-clauses, clauses, schedules or appendices are to sub-clauses, clauses, schedules or appendices of this privacy policy;</li>
                        <li unselectable="on">a reference to a person includes firms, companies, government entities, trusts and partnerships;</li>
                        <li unselectable="on">“including” is understood to mean “including without limitation”;</li>
                        <li unselectable="on">reference to any statutory provision includes any modification or amendment of it;</li>
                        <li unselectable="on">the headings and sub-headings do not form part of this privacy policy. </li>
                    </ol>
                </li>
            </ol>
            <h2 unselectable="on">Scope of this privacy policy</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">This privacy policy applies only to the actions of Cogiva Limited and Users with respect to this Website. It does not extend to any websites that can be accessed from this Website including, but not limited to, any links we may provide to social media websites.</li>
            </ol>
            <h2 unselectable="on">Data collected</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">We may collect the following Data, which includes personal Data, from you:
                    <ol unselectable="on">
                        <li unselectable="on">Name</li>
                        <li unselectable="on">Contact Information such as email addresses and telephone numbers;</li>
                        <li unselectable="on">IP address (automatically collected);</li>
                        <li unselectable="on">Web browser type and version (automatically collected);</li>
                        <li unselectable="on">Operating system (automatically collected);</li>
                        <li unselectable="on">A list of URLs starting with a referring site, your activity on this Website, and the site you exit to (automatically collected);</li>
                        <p> in each case, in accordance with this privacy policy.
                        </p>
                    </ol>
                </li>
            </ol>
            <h2 unselectable="on">Our use of Data</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">For purposes of the Data Protection Act 1998, Cogiva Limited is the “data controller”.</li>
                <li unselectable="on">We will retain any Data you submit for 12 months.</li>
                <li unselectable="on">Unless we are obliged or permitted by law to do so, and subject to any third party disclosures specifically set out in this policy, your Data will not be disclosed to third parties. This includes our affiliates and / or other companies within our group.
                </li>
                <li unselectable="on">All personal Data is stored securely in accordance with the principles of the Data Protection Act 1998. For more details on security see the clause below (<b unselectable="on">Security</b>).</li>
                <li unselectable="on">Any or all of the above Data may be required by us from time to time in order to provide you with the best possible service and experience when using our Website. Specifically, Data may be used by us for the following reasons:
                    <ol unselectable="on">
                        <li unselectable="on">internal record keeping;</li>
                        <li unselectable="on">improvement of our products / services;</li>
                        <li unselectable="on">transmission by email of promotional materials that may be of interest to you;</li>
                    </ol>
                </li>
                <p unselectable="on">in each case, in accordance with this privacy policy.</p>
            </ol>
            <h2 unselectable="on">Third party websites and services</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">Cogiva Limited may, from time to time, employ the services of other parties for dealing with certain processes necessary for the operation of the Website. The providers of such services do not have access to certain personal Data provided by Users of this Website.
                </li>
            </ol>
            <h2 unselectable="on">Links to other websites</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">This Website may, from time to time, provide links to other websites. We have no control over such websites and are not responsible for the content of these websites. This privacy policy does not extend to your use of such websites. You are advised to read the privacy policy or statement of other websites prior to using them.</li>
            </ol>
            <h2 unselectable="on">Changes of business ownership and control</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">Cogiva Limited may, from time to time, expand or reduce our business and this may involve the sale and/or the transfer of control of all or part of Cogiva Limited. Data provided by Users will, where it is relevant to any part of our business so transferred, be transferred along with that part and the new owner or newly controlling party will, under the terms of this privacy policy, be permitted to use the Data for the purposes for which it was originally supplied to us.</li>
                <li unselectable="on">We may also disclose Data to a prospective purchaser of our business or any part of it.</li>
                <li unselectable="on">In the above instances, we will take steps with the aim of ensuring your privacy is protected.</li>
            </ol>
            <h2 unselectable="on">Controlling use of your Data</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">Wherever you are required to submit Data, you will be given options to restrict our use of that Data. This may include the following:</li>
                <li unselectable="on">use of Data for direct marketing purposes; and</li>
                <li unselectable="on">sharing Data with third parties.</li>
            </ol>
            <h2 unselectable="on">Functionality of the Website</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">To use all features and functions available on the Website, you may be required to submit certain Data.</li>
                <li unselectable="on">You may restrict your internet browser’s use of Cookies. For more information see the clause below (<b unselectable="on">Cookies</b>).</li>
            </ol>
            <h2 unselectable="on">Accessing your own Data</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">You have the right to ask for a copy of any of your personal Data held by Cogiva Limited (where such Data is held) on payment of a small fee, which will not exceed £5.</li>
            </ol>
            <h2 unselectable="on">Security</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">Data security is of great importance to Cogiva Limited and to protect your Data we have put in place suitable physical, electronic and managerial procedures to safeguard and secure Data collected via this Website.</li>
                <li unselectable="on">If password access is required for certain parts of the Website, you are responsible for keeping this password confidential.</li>
                <li unselectable="on">We endeavour to do our best to protect your personal Data. However, transmission of information over the internet is not entirely secure and is done at your own risk. We cannot ensure the security of your Data transmitted to the Website.</li>
            </ol>
            <h2 unselectable="on">Cookies</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">This Website may place and access certain Cookies on your computer.
                    <p> Cogiva Limited uses Cookies to improve your experience of using the Website.</p>
                    <p> Cogiva Limited has carefully chosen these Cookies and has taken steps to ensure that your privacy is protected and respected at all times.</p>
                </li>
                <li unselectable="on">All Cookies used by this Website are used in accordance with current UK and EU Cookie Law.</li>
                <li unselectable="on">Before the Website places Cookies on your computer, you will be presented with a message bar requesting your consent to set those Cookies. By giving your consent to the placing of Cookies, you are enabling Cogiva Limited to provide a better experience and service to you. You may, if you wish, deny consent to the placing of Cookies; however certain features of the Website may not function fully or as intended.</li>
                <li unselectable="on">This Website may place the following Cookies:</li>
                <table class="terms" unselectable="on" cellpadding="3" width="100%" align="center">
                    <tbody unselectable="on">
                        <tr unselectable="on">
                            <td unselectable="on" valign="center" width="30%" align="center"><b unselectable="on">Type of Cookie</b>
                            </td>
                            <td unselectable="on" valign="center" width="70%" align="center"><b unselectable="on">Purpose</b>
                            </td>
                        </tr>
                        <tr unselectable="on">
                            <td unselectable="on" valign="top" align="left">Strictly necessary cookies</td>
                            <td unselectable="on" valign="top" align="left">These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website, use a shopping cart or make use of e-billing services.</td>
                        </tr>
                        <tr unselectable="on">
                            <td unselectable="on" valign="top" align="left">Analytical/performance cookies</td>
                            <td unselectable="on" valign="top" align="left">They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily.</td>
                        </tr>
                    </tbody>
                </table>
                <li unselectable="on">You can choose to enable or disable Cookies in your internet browser. By default, most internet browsers accept Cookies but this can be changed. For further details, please consult the help menu in your internet browser.
                </li>
                <li unselectable="on">You can choose to delete Cookies at any time; however you may lose any information that enables you to access the Website more quickly and efficiently including, but not limited to, personalisation settings.
                </li>
                <li unselectable="on">It is recommended that you ensure that your internet browser is up-to-date and that you consult the help and guidance provided by the developer of your internet browser if you are unsure about adjusting your privacy settings.</li>
            </ol>
            <h2 unselectable="on">General</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">You may not transfer any of your rights under this privacy policy to any other person. We may transfer our rights under this privacy policy where we reasonably believe your rights will not be affected.
                </li>
                <li unselectable="on">If any court or competent authority finds that any provision of this privacy policy (or part of any provision) is invalid, illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to be deleted, and the validity and enforceability of the other provisions of this privacy policy will not be affected.</li>
                <li unselectable="on">Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed a waiver of that, or any other, right or remedy.</li>
                <li unselectable="on">This privacy policy is governed by and interpreted according to English law. All disputes arising under this privacy policy are subject to the exclusive jurisdiction of the English courts.</li>
            </ol>
            <h2 unselectable="on">Changes to this privacy policy</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">Cogiva Limited reserves the right to change this privacy policy as we may deem necessary from time to time or as may be required by law. Any changes will be immediately posted on the Website and you are deemed to have accepted the terms of the privacy policy on your first use of the Website following the alterations.
                    <br>
                    <br unselectable="on">
                    <br unselectable="on">
                    <br> You may contact Cogiva Limited by email at admin@yeahdone.it.
                    <br>
                    <br unselectable="on">
                    <br unselectable="on">
                    <br unselectable="on">
                    <br>
                    <b unselectable="on">20 May 2015</b>
                </li>
            </ol>
        </div>

    </div>
    <!--content-->
</section>
