
<div class="row narrow">
  <div class="col-sm-12">
    <h1>Sign up</h1>
  </div>
  <div class="col-sm-12">

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" ng-show="!allowregister && !loading">
        <p>
          We currently in public beta and we are letting new users in each week.
        </p>
        <p>
           If you want to be part of the public beta in the next few weeks, leave us your email and we'll send you and invite when it's time to get started!
        </p>
        <p>
          Thanks for your interest in YEAH, DONE IT! and we look forward to making your life much easier in the next few weeks.
        </p>
        <form action="//cogiva.us1.list-manage.com/subscribe/post?u=154d8498d8c76a485a0eca5dc&amp;id=0e83465431" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <h2>Yeah, Do it!</h2>
        <div class="mc-field-group">
          <input type="text" value="" name="FNAME" class=" form-control" id="mce-FNAME" placeholder="First Name">
        </div>      
        <div class="mc-field-group">
          <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email (required)">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_154d8498d8c76a485a0eca5dc_0e83465431" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
            </div>
        </form>
        <p>
          <br />
          <span style="font-size: 0.85em; font-weight: normal;">We are registered with the Information Commission and will keep your details safe. We never share or sell your information to anyone. You information is used purely to give you access to YEAH, DONE IT!</span>
        </p>
      </div>

      <!--End mc_embed_signup-->
      <div ng-show="allowregister && !loading">
        <form class="form" name="form" ng-submit="register(form)" novalidate>

          <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                              'has-error': form.name.$invalid && submitted }">

            <input type="text" name="name" class="form-control" ng-model="user.name" placeholder="Name"
                   required/>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
              A name is required
            </p>
          </div>   

          <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                              'has-error': form.email.$invalid && submitted }">

            <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Email"
                   required
                   mongoose-error />
            <p class="help-block" ng-show="form.email.$error.email && submitted">
              Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && submitted">
              What's your email address?
            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose">
              {{ errors.email }}
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                              'has-error': form.password.$invalid && submitted }">
            
            <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password"
                   ng-minlength="3"
                   required
                   mongoose-error/>
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
              Password must be at least 3 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.password }}
            </p>
          </div>

          <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
        </form>
      </div>
      <img src="../images/ajax-loader.gif" ng-show="loading" />
  </div>
</div>

<div class="row narrow">
  <div class="col-sm-12">
    <hr>
    Have an account? <a href="/login" class="text-center new-account">Log in.</a>
  </div>
</div>