<section id="main">
    <div id="content"  class="row marketing">

        <div class="docBody" unselectable="on">
            <h2 unselectable="on">Introduction</h2>
            <p unselectable="on">These terms and conditions apply between you, the User of this Website (including any sub-domains, unless expressly excluded by their own terms and conditions), and Cogiva Limited, the owner and operator of this Website. Please read these terms and conditions carefully, as they affect your legal rights. Your agreement to comply with and be bound by these terms and conditions is deemed to occur upon your first use of the Website. If you do not agree to be bound by these terms and conditions, you should stop using the Website immediately.
            </p>
            <p unselectable="on">In these terms and conditions, <b unselectable="on">User</b> or <b unselectable="on">Users</b> means any third party that accesses the Website and is not either (i) employed by Cogiva Limited and acting in the course of their employment or (ii) engaged as a consultant or otherwise providing services to Cogiva Limited and accessing the Website in connection with the provision of such services.</p>
            <p unselectable="on">
                You must be at least 18 years of age to use this Website. By using the Website and agreeing to these terms and conditions, you represent and warrant that you are at least 18 years of age.
            </p>
            <h2 unselectable="on">Intellectual property and acceptable use</h2>
            <ol class="clauses firstList" unselectable="on">
                <li unselectable="on">All Content included on the Website, unless uploaded by Users, is the property of Cogiva Limited, our affiliates or other relevant third parties. In these terms and conditions, Content means any text, graphics, images, audio, video, software, data compilations, page layout, underlying code and software and any other form of information capable of being stored in a computer that appears on or forms part of this Website, including any such content uploaded by Users. By continuing to use the Website you acknowledge that such Content is protected by copyright, trademarks, database rights and other intellectual property rights. Nothing on this site shall be construed as granting, by implication, estoppel, or otherwise, any license or right to use any trademark, logo or service mark displayed on the site without the owner’s prior written permission
                </li>
                <li unselectable="on">You may, for your own personal, non-commercial use only, do the following:
                    <ol unselectable="on">
                        <li unselectable="on">retrieve, display and view the Content on a computer screen</li>
                        <li unselectable="on">print one copy of the Content</li>
                    </ol>
                </li>
                <li unselectable="on">You must not otherwise reproduce, modify, copy, distribute or use for commercial purposes any Content without the written permission of Cogiva Limited.
                </li>
            </ol>
            <h2 unselectable="on">Prohibited use</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on"> You may not use the Website for any of the following purposes:
                    <ol unselectable="on">
                        <li unselectable="on">in any way which causes, or may cause, damage to the Website or interferes with any other person’s use or enjoyment of the Website;
                        </li>
                        <li unselectable="on">in any way which is harmful, unlawful, illegal, abusive, harassing, threatening or otherwise objectionable or in breach of any applicable law, regulation, governmental order;
                        </li>
                        <li unselectable="on">making, transmitting or storing electronic copies of Content protected by copyright without the permission of the owner.
                        </li>
                    </ol>
                </li>
            </ol>
            <h2 unselectable="on">Registration</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">You must ensure that the details provided by you on registration or at any time are correct and complete.
                </li>
                <li unselectable="on"> You must inform us immediately of any changes to the information that you provide when registering by updating your personal details to ensure we can communicate with you effectively.
                </li>
                <li unselectable="on">We may suspend or cancel your registration with immediate effect for any reasonable purposes or if you breach these terms and conditions.
                </li>
                <li unselectable="on">You may cancel your registration at any time by informing us in writing to the address at the end of these terms and conditions. If you do so, you must immediately stop using the Website. Cancellation or suspension of your registration does not affect any statutory rights.
                </li>
            </ol>
            <h2 unselectable="on">Links to other websites</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">This Website may contain links to other sites. Unless expressly stated, these sites are not under the control of Cogiva Limited or that of our affiliates.
                </li>
                <li unselectable="on">
                    We assume no responsibility for the content of such Websites and disclaim liability for any and all forms of loss or damage arising out of the use of them.
                </li>
                <li unselectable="on">
                    The inclusion of a link to another site on this Website does not imply any endorsement of the sites themselves or of those in control of them.
                </li>
            </ol>
            <h2 unselectable="on">Privacy Policy</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">
                    Use of the Website is also governed by our Privacy Policy, which is incorporated into these terms and conditions by this reference. To view the Privacy Policy, please click on the following: http://www.cowonamission.com/privacy-policy/.
                </li>
            </ol>
            <h2 unselectable="on">Availability of the Website and disclaimers</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">Any online facilities, tools, services or information that Cogiva Limited makes available through the Website (the <b unselectable="on">Service</b>) is provided “as is” and on an “as available” basis. We give no warranty that the Service will be free of defects and/or faults. To the maximum extent permitted by the law, we provide no warranties (express or implied) of fitness for a particular purpose, accuracy of information, compatibility and satisfactory quality. Cogiva Limited is under no obligation to update information on the Website.
                </li>
                <li unselectable="on">Whilst Cogiva Limited uses reasonable endeavours to ensure that the Website is secure and free of errors, viruses and other malware, we give no warranty or guaranty in that regard and all Users take responsibility for their own security, that of their personal details and their computers.
                </li>
                <li unselectable="on">
                    Cogiva Limited accepts no liability for any disruption or non-availability of the Website.</li>
                <li unselectable="on">
                    Cogiva Limited reserves the right to alter, suspend or discontinue any part (or the whole of) the Website including, but not limited to, any products and/or services available. These terms and conditions shall continue to apply to any modified version of the Website unless it is expressly stated otherwise.</li>
            </ol>
            <h2 unselectable="on">Limitation of liability</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">Nothing in these terms and conditions will: (a) limit or exclude our or your liability for death or personal injury resulting from our or your negligence, as applicable; (b) limit or exclude our or your liability for fraud or fraudulent misrepresentation; or (c) limit or exclude any of our or your liabilities in any way that is not permitted under applicable law.
                </li>
                <li unselectable="on"> We will not be liable to you in respect of any losses arising out of events beyond our reasonable control.
                </li>
                <li unselectable="on">To the maximum extent permitted by law, Cogiva Limited accepts no liability for any of the following:
                    <ol unselectable="on">
                        <li unselectable="on">any business losses, such as loss of profits, income, revenue, anticipated savings, business, contracts, goodwill or commercial opportunities;
                        </li>
                        <li unselectable="on">loss or corruption of any data, database or software;
                        </li>
                        <li unselectable="on">any special, indirect or consequential loss or damage.
                        </li>
                    </ol>
                </li>
            </ol>
            <h2 unselectable="on">General</h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">You may not transfer any of your rights under these terms and conditions to any other person. We may transfer our rights under these terms and conditions where we reasonably believe your rights will not be affected.
                </li>
                <li unselectable="on">These terms and conditions may be varied by us from time to time. Such revised terms will apply to the Website from the date of publication. Users should check the terms and conditions regularly to ensure familiarity with the then current version.
                </li>
                <li unselectable="on">These terms and conditions together with the Privacy Policy contain the whole agreement between the parties relating to its subject matter and supersede all prior discussions, arrangements or agreements that might have taken place in relation to the terms and conditions.
                </li>
                <li unselectable="on">The Contracts (Rights of Third Parties) Act 1999 shall not apply to these terms and conditions and no third party will have any right to enforce or rely on any provision of these terms and conditions.
                </li>
                <li unselectable="on">If any court or competent authority finds that any provision of these terms and conditions (or part of any provision) is invalid, illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to be deleted, and the validity and enforceability of the other provisions of these terms and conditions will not be affected.
                </li>
                <li unselectable="on">Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed a waiver of that, or any other, right or remedy.
                </li>
                <li unselectable="on">These terms and conditions will be governed by and interpreted according to English law. All disputes arising under these terms and conditions will be subject to the exclusive jurisdiction of the English courts.
                </li>
            </ol>
            <h2 unselectable="on">
            <p>Cogiva Limited details</p></h2>
            <ol class="clauses" unselectable="on">
                <li unselectable="on">Cogiva Limited is a company incorporated in England and Wales with registered number 06626518 whose registered address is 8 Oxford Street, Whitley Bay, Tyne and Wear, NE26 1AE and it operates the Website http://www.cowonamission.com.
                    <p> The registered VAT number is 184 5603 93.</p>
                    <p unselectable="on">
                        You can contact Cogiva Limited by email on admin@yeahdone.it.
                    </p>
                </li>
            </ol>
        </div>

    </div>
    <!--content-->
</section>
