                </div>
            </div>
            <div style="padding: 0px; border-top: 1px solid #dedede; margin: 0px;">

                <!--<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>-->
                <div class="navbar-header">
                    <p style="font-size:10px; color: #999;">
                        This email has been sent by YEAH, DONE IT! part of Cogiva LTD because you signed up on the website to have us recommend and send gifts to your friends for important dates.  Cogiva is regulated by the Information Commission and we always look after your data.  You can stop these emails via the YEAH, DONE IT! website.                        
                    </p>                    
                    <p style="font-size:10px; color: #999;">
                        Produced by Cogiva LTD, 10 York Road, Whitley Bay, NE26 1AE.  Company No: 06626518.  VAT: 184 5603 93.
                    </p>
                </div>

            </div>            
        </div>
	</body>
</html>