                    <h4>Hi,</h4>
                    <p>Great news!  This is your invite to start using YEAH, DONE IT!  Just click on the link below, register and get going.</p>
                    <p>To make life easier there is an on screen tutorial available to show how it all works.</p>
                    <p>If you happen to find any issues, there is a link to the bug report form to send us any info so we can get right on to fixing it.</p>
                    <p>
                        <b>Email: </b>$$EMAIL<br />
                        <b>Invite Code: </b>$$INVITE<br />
                        <b>Link: </b><a href="$$LINK">$$LINK2</a>
                    </p>
                    <p>
                        Thanks for signing up and wanting to help with YEAH, DONE IT!  You rock!
                        Have a great day!
                    </p>
                    <p>
                        Regards,<br />
                        <b>The YEAH, DONE IT! Team.</b>
                    </p>
                