                    <h4>Hi $$USERNAME,</h4>
                    <p>Good news, one of your friends has a special date coming up and we've found a suggested gift for you to send.</p>
                    <p class="date-content">
                        We found the following gift on Amazon to send to <b>$$ADDRESS</b> for their <b>$$DATE</b>.  The message will read <b>"$$MESSAGE"</b>
                    </p>
                    <h4>Suggested Order</h4>
                    <table style="width:100%;">
                        <tr>
                            <td style="width: 25%; margin-right: 15px;">
                                <img src="$$IMGSRC" height="100px">
                                <!--<img src="http://ecx.images-amazon.com/images/I/51tB0kftR-L._SL75_.jpg">-->                            
                            </td>
                            <td style="width: 75%; margin-right: 15px;">
                                $$TITLE<br>                  
                                $$PRICE<br>
                                <a href="http://yeahdone.it/orders?order=$$THEID&todo=accept" style="border: 0px !important;text-transform: uppercase;font-weight: bold;display: inline-block;margin-bottom: 0;text-align: center;white-space: nowrap;vertical-align: middle;background-image: none;cursor: pointer;margin: 5px 5px 5px 0px;border: 1px solid;color: #fff;background-color: #5cb85c;border-color: #4cae4c;padding: 5px 10px;font-size: 11px;line-height: 1.5;border-radius: 4px;text-decoration: none !important;">Yes Send</a>
                                <a href="http://yeahdone.it/orders?order=$$THEID&todo=reject" style="border: 0px !important;text-transform: uppercase;font-weight: bold;display: inline-block;margin-bottom: 0;text-align: center;white-space: nowrap;vertical-align: middle;background-image: none;cursor: pointer;margin: 5px 5px 5px 0px;border: 1px solid;color: #fff;background-color: #d9534f;border-color: #d43f3a;padding: 5px 10px;font-size: 11px;line-height: 1.5;border-radius: 4px;text-decoration: none !important;">No Thanks</a>
                                <a href="$$AMZLINK" target="_amazon" style="border: 0px !important;text-transform: uppercase;font-weight: bold;display: inline-block;margin-bottom: 0;text-align: center;white-space: nowrap;vertical-align: middle;background-image: none;cursor: pointer;margin: 5px 5px 5px 0px;border: 1px solid;color: #fff;background-color: #000;border-color: #000;text-transform: uppercase;padding: 5px 10px;font-size: 11px;line-height: 1.5;border-radius: 4px;text-decoration: none !important;">View on Amazon</a>
                            </td>
                        </tr>
                    </table>
                    <p >
                        If you're happy with this suggestion, just click on 'Yes Send' and we'll get it sent.  If you'd like us to find something else, then click on 'No Thanks' and we'll take another look.
                    </p>
                    <p>
                        Have a great day!
                    </p>
                    <p>
                        Regards,<br />
                        <b>The YEAH, DONE IT! Team.</b>
                    </p>
                