<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Enter Absent Price</h4>
      </div>
      <div class="modal-body">
  		<p>
  			There is no price given from Amazon API for this item (<a href="{{ thelink }}" target="_amazon">view product on Amazon</a>). Please check the price and enter here to add it to the suggestion/Favourite.
  		</p>
  		<p>
  			<input ng-keyup="addprice($event);" type="text" name="price" class="form-control" ng-model="apaenteredprice" required placeholder="Enter price for this item...">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close(true)" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Add Price</button>
      </div>
    </div>
  </div>
</div>