<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" ng-app="yeahdoneit" ng-controller="MainCtrl" ng-swipe-right="toggleMenu(true)" ng-swipe-left="toggleMenu(false)"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/"> 
    <title ng-bind="Styling.title()">YDI Loading...</title> 
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="YEAH, DONE IT!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="//yeahdone.it/images/forgot_present.jpg" /> 
    <meta property="og:url" content="//yeahdone.it" />
    <meta property="og:description" content="Ever forgetten to buy a present or missed an important date? Ever seen your wife angry because you totally forgot your anniversary? It's quite possible that this app will actually save your life!" />
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />-->
    <link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet/less" type="text/css" href="../styles/styles.less" />
    <link rel="stylesheet" href="../styles/sitestyle.css">
    <link rel="stylesheet" href="../styles/mobile.css">
    <link href="../bower_components/intro.js/introjs.css" rel="stylesheet">
    <link href="../bower_components/intro.js/themes/introjs-nassim.css" rel="stylesheet">
    <link href="../bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <link rel="icon" 
      type="image/png" 
      href="../images/favicon.png"> 
    
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <!--<link rel="stylesheet" href="styles/main.css">-->
    <!-- endbuild -->

    <!-- CASTLE.JS DoS and HACK protection -->
    <!--script type="text/javascript">
      (function(e,t,n,r){function i(e,n){e=t.createElement("script");e.async=1;e.src=r;n=t.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)}e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)};e.attachEvent?e.attachEvent("onload",i):e.addEventListener("load",i,false)})(window,document,"_castle","//d2t77mnxyo7adj.cloudfront.net/v1/c.js")
      _castle('setAccount', '187816283723959');
      {{ if logged_in? }}
        _castle('setUser', {
          id: '{{ user.id }}', // required
          name: '{{ user.name }}', // optional
          email: '{{ user.email }}', // optional
        });
      {{ end }}
      _castle('trackPageview');
    </script-->
  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- SPLASH NG-CLOAK LOADING PAGE (auto removed after load) -->
    <div class="splash" ng-cloak="">
          <style>
            [ng-cloak].splash {
                display: block !important;
            }
            [ng-cloak].contain_foot {
                display: none !important;
            }
            .splash {
                position: absolute; 
                top: 0px;
                left: 0px;
                height: 60%;
                width: 60%;
                background: #fff;
                color: #000;
                font-family: Verdana, Arial, sans-serif;
                max-width: 960px;
                padding-top: 15px;
                text-align: center;
                display: none;
                min-width: 100%; 
                margin: 5px auto;               
            }
            .splashfooter {
                position: absolute;
                bottom: 0px;
                color: #aaa;
                font-size: 0.8em;
                width: 100%;
                text-align: center;
            }
          </style>
            <img src="../images/logo.png" /><br /><br />
            <img src="../images/ajax-loader.gif" /><br /><br />I'm just getting things<br />up and running. One second...<br /><br />
            <div class="splashfooter">Copyright &copy; Cogiva 2015.<br />All rights reserved.</div>
    </div>
    <!-- END SPLASH NG-CLOAK LOADING PAGE -->

    <div ng-include="'partials/alert'"></div> 
    <div ng-include="'partials/navbar'"></div>

    <!-- Add your site or application content here -->
    <div class="container maincontent" ng-view=""></div>

    <div class="container contain_foot" ng-cloak="">
        <div class="footer">
          <p>With ♥ from the Cogiva Team. Copyright &copy; 2015.  All rights reserved.&nbsp;&nbsp;-&nbsp;&nbsp;<a ng-href="/contact">contact us</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a ng-href="/terms">terms and conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a ng-href="/privacy">privacy policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a ng-href="/credits">credits</a></p>
        </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-291571-12');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script> 
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/angular-ui-bootstrap.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script src="bower_components/angular-payments/lib/angular-payments.min.js"></script>
    <script src="bower_components/intro.js/minified/intro.min.js"></script>
    <script src="bower_components/angular-intro.js/src/angular-intro.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/less/dist/less-1.7.0.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/mypeople.js"></script>
        <script src="scripts/controllers/navbar.js"></script>
        <script src="scripts/controllers/alert.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/controllers/settings.js"></script>
        <script src="scripts/controllers/comingdates.js"></script>
        <script src="scripts/controllers/amazon.js"></script>
        <script src="scripts/controllers/fourohfour.js"></script>
        <script src="scripts/controllers/adminusers.js"></script>
        <script src="scripts/controllers/apaprice.js"></script>
        <script src="scripts/controllers/notifications.js"></script>
        <script src="scripts/controllers/orders.js"></script>
        <script src="scripts/controllers/bug.js"></script>
        <script src="scripts/controllers/plain.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/controllers/credits.js"></script>
        <script src="scripts/controllers/confirm.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/styling.js"></script>
        <script src="scripts/services/person.js"></script>
        <script src="scripts/services/polling.js"></script>        
        <script src="scripts/services/adate.js"></script>
        <script src="scripts/services/apa.js"></script>
        <script src="scripts/services/order.js"></script>
        <script src="scripts/services/alerts.js"></script>
        <script src="scripts/services/notification.js"></script>
        <script src="scripts/services/payment.js"></script>
        <script src="scripts/services/adminusers.js"></script>
        <script src="scripts/directives/mongooseError.js"></script> 
        <!-- endbuild -->
</body>
</html>
